<div class="reservas-_1-1208">
  <span class="text-reservas_1-1209">Reservas</span>
  <div class="container-29_1-1210">
    <div class="chevron-down-large-1_1-1211">
      <svg
        width="12"
        height="12"
        viewBox="0 0 12 12"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M2.30454 3.5L1.5 4.30454L6 8.80453L10.5 4.30454L9.69545 3.5L6 7.19543L2.30454 3.5Z"
          fill="#9095A0"
        />
      </svg>
    </div>
    <div class="avatar-15_1-1213">
      <svg
        width="36"
        height="36"
        viewBox="0 0 36 36"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
      >
        <rect width="36" height="36" fill="#FED0C5" />
        <rect width="36" height="36" fill="url(#pattern0_1_1213)" />
        <defs>
          <pattern
            id="pattern0_1_1213"
            patternContentUnits="objectBoundingBox"
            width="1"
            height="1"
          >
            <use xlink:href="#image0_1_1213" transform="scale(0.002)" />
          </pattern>
          <image
            id="image0_1_1213"
            width="500"
            height="500"
          />
        </defs>
      </svg>
    </div>
    <div class="header-menu-2_1-1215">
      <div class="frame_1-1218">
        <span class="text-reservas_1-1219">Reservas</span>
      </div>
      <div class="frame_1-1228">
        <span class="text-configuraci-n_1-1229">Configuración</span>
      </div>
      <div class="frame_1-1220">
        <span class="text-calendario_1-1221">Calendario</span>
      </div>
      <div class="frame_1-1222">
        <span class="text-inventario_1-1223">Inventario</span>
      </div>
      <div class="frame_1-1224">
        <span class="text-huepedes_1-1225">Huepedes</span>
      </div>
      <div class="frame_1-1226">
        <span class="text-reportes_1-1227">Reportes</span>
      </div>
      <div class="frame_1-1216">
        <span class="text-inicio_1-1217">Inicio</span>
      </div>
    </div>
    <div class="frame-31_1-6952">
      <div class="bell-1_1-1230">
        <svg
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M17.9999 11.1428V8.57141C17.9999 6.98011 17.3678 5.45399 16.2425 4.32877C15.1173 3.20355 13.5912 2.57141 11.9999 2.57141C10.4086 2.57141 8.88247 3.20355 7.75725 4.32877C6.63204 5.45399 5.9999 6.98011 5.9999 8.57141V11.1428C5.9999 13.9714 3.42847 14.6571 3.42847 16.2857C3.42847 17.7428 6.77132 18.8571 11.9999 18.8571C17.2285 18.8571 20.5713 17.7428 20.5713 16.2857C20.5713 14.6571 17.9999 13.9714 17.9999 11.1428Z"
            stroke="#9095A0"
            stroke-width="2.05714"
            stroke-miterlimit="10"
            stroke-linecap="square"
          />
          <path
            d="M12.0001 20.5714C11.1335 20.5714 10.3193 20.5423 9.55298 20.4857C9.71634 21.0068 10.0418 21.4622 10.482 21.7855C10.9221 22.1088 11.454 22.2831 12.0001 22.2831C12.5463 22.2831 13.0781 22.1088 13.5183 21.7855C13.9584 21.4622 14.2839 21.0068 14.4473 20.4857C13.681 20.5423 12.8667 20.5714 12.0001 20.5714Z"
            fill="#9095A0"
          />
        </svg>
      </div>
      <div class="search-1_1-1233">
        <svg
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M20.5714 20.5715L17.1428 17.1429"
            stroke="#9095A0"
            stroke-width="2.05714"
            stroke-miterlimit="10"
            stroke-linecap="square"
          />
          <path
            d="M10.2856 17.1429C14.0727 17.1429 17.1428 14.0728 17.1428 10.2857C17.1428 6.49864 14.0727 3.42859 10.2856 3.42859C6.49851 3.42859 3.42847 6.49864 3.42847 10.2857C3.42847 14.0728 6.49851 17.1429 10.2856 17.1429Z"
            stroke="#9095A0"
            stroke-width="2.05714"
            stroke-miterlimit="10"
            stroke-linecap="square"
          />
          <path
            d="M6.85718 10.2857C6.85718 9.37637 7.2184 8.5043 7.86138 7.86132C8.50436 7.21834 9.37644 6.85712 10.2857 6.85712"
            stroke="#9095A0"
            stroke-width="2.05714"
            stroke-miterlimit="10"
          />
        </svg>
      </div>
    </div>
    <span class="text-staymate_1-1237">StayMate</span>
    <div class="image-20_1-1238">
      <svg
        width="31"
        height="43"
        viewBox="0 0 31 43"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
      >
        <rect width="31" height="43" fill="url(#pattern0_1_1238)" />
        <defs>
          <pattern
            id="pattern0_1_1238"
            patternContentUnits="objectBoundingBox"
            width="1"
            height="1"
          >
            <use
              xlink:href="#image0_1_1238"
              transform="matrix(0.00141914 0 0 0.0010231 -0.322581 -0.116279)"
            />
          </pattern>
          <image
            id="image0_1_1238"
            width="1182"
            height="1182"
          />
        </defs>
      </svg>
    </div>
  </div>
  <div class="container-83_1-1239">
    <div class="line-20_1-1240">
      <svg
        width="2"
        height="44"
        viewBox="0 0 2 44"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path d="M1 0V44" stroke="#DEE1E6" />
      </svg>
    </div>
    <div class="textbox-6_1-1241">
      <span class="text-buscar_1-1242">Buscar</span>
      <div class="search_1-1243">
        <svg
          width="20"
          height="20"
          viewBox="0 0 20 20"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M17.1428 17.1428L14.2856 14.2857"
            stroke="#171A1F"
            stroke-width="1.71429"
            stroke-miterlimit="10"
            stroke-linecap="square"
          />
          <path
            d="M8.57122 14.2857C11.7271 14.2857 14.2855 11.7273 14.2855 8.5714C14.2855 5.41549 11.7271 2.85712 8.57122 2.85712C5.41531 2.85712 2.85693 5.41549 2.85693 8.5714C2.85693 11.7273 5.41531 14.2857 8.57122 14.2857Z"
            stroke="#171A1F"
            stroke-width="1.71429"
            stroke-miterlimit="10"
            stroke-linecap="square"
          />
          <path
            d="M5.71436 8.57144C5.71436 7.81368 6.01537 7.08695 6.55119 6.55113C7.08701 6.01531 7.81374 5.71429 8.5715 5.71429"
            stroke="#171A1F"
            stroke-width="1.71429"
            stroke-miterlimit="10"
          />
        </svg>
      </div>
    </div>
    <div class="dropdown-button-11_1-1247">
      <span class="text-todos-los-estados_1-1248">Todos los estados</span>
      <div class="chevron-down-large_1-1249">
        <svg
          width="16"
          height="16"
          viewBox="0 0 16 16"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M3.07273 4.66669L2 5.73941L8 11.7394L14 5.73941L12.9273 4.66669L8 9.59393L3.07273 4.66669Z"
            fill="#171A1F"
          />
        </svg>
      </div>
    </div>
    <div class="dropdown-button-12_1-1251">
      <span class="text-todas-las-categorias_1-1252"
        >Todas las categorias
      </span>
      <div class="chevron-down-large_1-1253">
        <svg
          width="16"
          height="16"
          viewBox="0 0 16 16"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M3.07273 4.66669L2 5.73941L8 11.7394L14 5.73941L12.9273 4.66669L8 9.59393L3.07273 4.66669Z"
            fill="#171A1F"
          />
        </svg>
      </div>
    </div>
    <span class="text-limpiar-filtro_1-1255">Limpiar Filtro</span>
    <div class="line-21_1-1256">
      <svg
        width="1336"
        height="2"
        viewBox="0 0 1336 2"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path d="M0 1H1336" stroke="#DEE1E6" />
      </svg>
    </div>
  </div>
  <div class="tabla-container">
    <table class="latabla">
      <thead>
        <tr>
          <th>Referencia</th>
          <th>Huesped</th>
          <th>Categoria</th>
          <th>Numero</th>
          <th>Check-In</th>
          <th>Check-Out</th>
          <th>Tag</th>
          <th>Total</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let reserva of listaReservas">
          <td><a [routerLink]="['/mod-reserva/', reserva.referencia]">{{reserva.referencia}}</a></td>
          <td><a [routerLink]="['/mod-reserva/', reserva.referencia]">{{reserva.nombre_huesped}}</a></td>
          <td><a [routerLink]="['/mod-reserva/', reserva.referencia]">{{reserva.categoria}}</a></td>
          <td><a [routerLink]="['/mod-reserva/', reserva.referencia]">{{reserva.nombre_cat}}</a></td>
          <td><a [routerLink]="['/mod-reserva/', reserva.referencia]">{{reserva.check_in}}</a></td>
          <td><a [routerLink]="['/mod-reserva/', reserva.referencia]">{{reserva.check_out}}</a></td>
          <td><a [routerLink]="['/mod-reserva/', reserva.referencia]">{{reserva.tag}}</a></td>
          <td><a [routerLink]="['/mod-reserva/', reserva.referencia]">{{reserva.valor}}</a></td>
        </tr>
      </tbody>
    </table>
  </div>  
  <div class="button-38_1-1469">
    <span class="text-crear-reserva_1-1470">Crear Reserva</span>
  </div>
</div>
