.configuraci-n_1-2329 {
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
    background: #fafafb;
    width: 1466px;
    height: 1026px;
    box-shadow: 0px 3px 6px 0px #120f281e;
  }
  .container-29_1-2330 {
    top: 0px;
    left: 0px;
    position: absolute;
    display: flex;
    box-sizing: border-box;
    overflow: hidden;
    background: #0d0953;
    width: 1466px;
    height: 56px;
    box-shadow:
      0px 0px 1px 0px #171a1f11,
      0px 0px 2px 0px #171a1f1e;
  }
  .chevron-down-large-1_1-2331 {
    top: 22px;
    left: 1422px;
    position: absolute;
    display: flex;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
  }
  .vector_1-2332 {
    top: 4px;
    left: 2px;
    position: absolute;
    display: flex;
    display: flex;
  }
  
  .avatar-15_1-2333 {
    top: 10px;
    left: 1378px;
    position: absolute;
    display: flex;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
  }
  
  .header-menu-2_1-2335 {
    top: 2px;
    left: 203px;
    position: absolute;
    display: flex;
    box-sizing: border-box;
    background: #00000000;
    width: 602px;
    height: 52px;
  }
  .frame_1-2338 {
    top: 0px;
    left: 59px;
    position: absolute;
    display: flex;
    box-sizing: border-box;
    overflow: hidden;
    background: #00000000;
    width: 81px;
    height: 52px;
  }
  .text-reservas_1-2339 {
    top: 15px;
    left: 12px;
    position: absolute;
    display: flex;
    color: #565e6c;
    font-size: 14px;
    font-family: Outfit;
    line-height: 22px;
    letter-spacing: 0%;
    text-decoration: none;
    font-weight: 400;
    text-align: left;
    text-wrap: nowrap;
    width: 56px;
    height: 22px;
  }
  
  .frame_1-2342 {
    top: 0px;
    left: 234px;
    position: absolute;
    display: flex;
    box-sizing: border-box;
    overflow: hidden;
    background: #00000000;
    width: 88px;
    height: 52px;
  }
  .text-inventario_1-2343 {
    top: 15px;
    left: 12px;
    position: absolute;
    display: flex;
    color: #565e6c;
    font-size: 14px;
    font-family: Outfit;
    line-height: 22px;
    letter-spacing: 0%;
    text-decoration: none;
    font-weight: 400;
    text-align: left;
    text-wrap: nowrap;
    width: 64px;
    height: 22px;
  }
  
  .frame_1-2344 {
    top: 0px;
    left: 322px;
    position: absolute;
    display: flex;
    box-sizing: border-box;
    overflow: hidden;
    background: #00000000;
    width: 86px;
    height: 52px;
  }
  .text-huepedes_1-2345 {
    top: 15px;
    left: 12px;
    position: absolute;
    display: flex;
    color: #565e6c;
    font-size: 14px;
    font-family: Outfit;
    line-height: 22px;
    letter-spacing: 0%;
    text-decoration: none;
    font-weight: 400;
    text-align: left;
    text-wrap: nowrap;
    width: 62px;
    height: 22px;
  }
  
  .frame_1-2348 {
    top: 0px;
    left: 489px;
    position: absolute;
    display: flex;
    box-sizing: border-box;
    overflow: hidden;
    background: #00000000;
    width: 113px;
    height: 52px;
  }
  .text-configuraci-n_1-2349 {
    top: 15px;
    left: 12px;
    position: absolute;
    display: flex;
    color: #2c91a8;
    font-size: 14px;
    font-family: Outfit;
    line-height: 22px;
    letter-spacing: 0%;
    text-decoration: none;
    font-weight: 400;
    text-align: left;
    text-wrap: nowrap;
    width: 88px;
    height: 22px;
  }
  
  .frame_1-2336 {
    top: 0px;
    left: 0px;
    position: absolute;
    display: flex;
    box-sizing: border-box;
    overflow: hidden;
    background: #00000000;
    width: 59px;
    height: 52px;
  }
  .text-inicio_1-2337 {
    top: 15px;
    left: 12px;
    position: absolute;
    display: flex;
    color: #565e6c;
    font-size: 14px;
    font-family: Outfit;
    line-height: 22px;
    letter-spacing: 0%;
    text-decoration: none;
    font-weight: 700;
    text-align: left;
    text-wrap: nowrap;
    width: 35px;
    height: 22px;
  }
  
  .frame_1-2340 {
    top: 0px;
    left: 140px;
    position: absolute;
    display: flex;
    box-sizing: border-box;
    overflow: hidden;
    background: #00000000;
    width: 94px;
    height: 52px;
  }
  .text-calendario_1-2341 {
    top: 15px;
    left: 12px;
    position: absolute;
    display: flex;
    color: #565e6c;
    font-size: 14px;
    font-family: Outfit;
    line-height: 22px;
    letter-spacing: 0%;
    text-decoration: none;
    font-weight: 400;
    text-align: left;
    text-wrap: nowrap;
    width: 69px;
    height: 22px;
  }
  
  .frame_1-2346 {
    top: 0px;
    left: 408px;
    position: absolute;
    display: flex;
    box-sizing: border-box;
    overflow: hidden;
    background: #00000000;
    width: 81px;
    height: 52px;
  }
  .text-reportes_1-2347 {
    top: 15px;
    left: 12px;
    position: absolute;
    display: flex;
    color: #565e6c;
    font-size: 14px;
    font-family: Outfit;
    line-height: 22px;
    letter-spacing: 0%;
    text-decoration: none;
    font-weight: 400;
    text-align: left;
    text-wrap: nowrap;
    width: 57px;
    height: 22px;
  }
  
  .frame-31_1-6963 {
    top: 16px;
    left: 1294px;
    position: absolute;
    display: flex;
    box-sizing: border-box;
    width: 60px;
    height: 24px;
  }
  .bell-1_1-2350 {
    top: 0px;
    left: 36px;
    position: absolute;
    display: flex;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
  }
  .vector_1-2351 {
    top: 3px;
    left: 3px;
    position: absolute;
    display: flex;
    display: flex;
  }
  
  .vector_1-2352 {
    top: 20px;
    left: 10px;
    position: absolute;
    display: flex;
    display: flex;
  }
  
  .search-1_1-2353 {
    top: 0px;
    left: 0px;
    position: absolute;
    display: flex;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
  }
  .vector_1-2354 {
    top: 17px;
    left: 17px;
    position: absolute;
    display: flex;
    display: flex;
  }
  
  .vector_1-2355 {
    top: 3px;
    left: 3px;
    position: absolute;
    display: flex;
    display: flex;
  }
  
  .vector_1-2356 {
    top: 7px;
    left: 7px;
    position: absolute;
    display: flex;
    display: flex;
  }
  
  .text-staymate_1-2357 {
    top: 17px;
    left: 88px;
    position: absolute;
    display: flex;
    color: #ffffff;
    font-size: 18px;
    font-family: Baloo 2;
    line-height: 28px;
    letter-spacing: 0%;
    text-decoration: none;
    font-weight: 500;
    text-align: left;
    text-wrap: nowrap;
    width: 74px;
    height: 28px;
  }
  
  .image-20_1-2358 {
    top: 6px;
    left: 57px;
    position: absolute;
    display: flex;
    display: flex;
  }
  
  .text-configuraci-n_1-2359 {
    top: 106px;
    left: 63px;
    position: absolute;
    display: flex;
    color: #171a1f;
    font-size: 24px;
    font-family: Outfit;
    line-height: 36px;
    letter-spacing: 0%;
    text-decoration: none;
    font-weight: 700;
    text-align: left;
    text-wrap: nowrap;
    width: 156px;
    height: 36px;
  }
  
  .text-cambiar-el-nombre_1-2360 {
    top: 255px;
    left: 63px;
    position: absolute;
    display: flex;
    color: #171a1f;
    font-size: 20px;
    font-family: Outfit;
    line-height: 30px;
    letter-spacing: 0%;
    text-decoration: none;
    font-weight: 400;
    text-align: left;
    text-wrap: nowrap;
    width: 172px;
    height: 30px;
  }
  
  .text-cambiar-contrase-a_1-2361 {
    top: 368px;
    left: 63px;
    position: absolute;
    display: flex;
    color: #171a1f;
    font-size: 20px;
    font-family: Outfit;
    line-height: 30px;
    letter-spacing: 0%;
    text-decoration: none;
    font-weight: 400;
    text-align: left;
    text-wrap: nowrap;
    width: 183px;
    height: 30px;
  }
  
  .textbox-14_1-2362 {
    top: 255px;
    left: 984px;
    position: absolute;
    display: flex;
    box-sizing: border-box;
    border-radius: 4px;
    border-color: #9095a0;
    border-style: solid;
    border-width: 1px;
    background: #ffffff;
    width: 430px;
    height: 35px;
  }
  .text-nuevo-nombre_1-2363 {
    top: 7px;
    left: 12px;
    position: absolute;
    display: flex;
    color: #171a1f;
    font-size: 14px;
    font-family: Outfit;
    line-height: 22px;
    letter-spacing: 0%;
    text-decoration: none;
    font-weight: 400;
    text-align: left;
    text-wrap: nowrap;
    width: 94px;
    height: 22px;
  }
  
  .textbox-14_1-2364 {
    top: 368px;
    left: 984px;
    position: absolute;
    display: flex;
    box-sizing: border-box;
    border-radius: 4px;
    border-color: #9095a0;
    border-style: solid;
    border-width: 1px;
    background: #ffffff;
    width: 430px;
    height: 35px;
  }
  .text-nuevo-contrase-a_1-2365 {
    top: 7px;
    left: 12px;
    position: absolute;
    display: flex;
    color: #171a1f;
    font-size: 14px;
    font-family: Outfit;
    line-height: 22px;
    letter-spacing: 0%;
    text-decoration: none;
    font-weight: 400;
    text-align: left;
    text-wrap: nowrap;
    width: 116px;
    height: 22px;
  }
  
  .textbox-14_1-2366 {
    top: 427px;
    left: 984px;
    position: absolute;
    display: flex;
    box-sizing: border-box;
    border-radius: 4px;
    border-color: #9095a0;
    border-style: solid;
    border-width: 1px;
    background: #ffffff;
    width: 430px;
    height: 35px;
  }
  .text-confirmar-nueva-contrase-a_1-2367 {
    top: 7px;
    left: 12px;
    position: absolute;
    display: flex;
    color: #171a1f;
    font-size: 14px;
    font-family: Outfit;
    line-height: 22px;
    letter-spacing: 0%;
    text-decoration: none;
    font-weight: 400;
    text-align: left;
    text-wrap: nowrap;
    width: 183px;
    height: 22px;
  }
  
  .button-group-4_1-2368 {
    top: 927px;
    left: 1004px;
    position: absolute;
    display: flex;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 5px;
    background: #82368c;
    width: 394px;
    height: 40px;
  }
  .frame_1-2369 {
    top: 2px;
    left: 2px;
    position: absolute;
    display: flex;
    box-sizing: border-box;
    border-radius: 4px;
    background: #ffffff;
    width: 195px;
    height: 36px;
  }
  .text-cancelar_1-2370 {
    top: 7px;
    left: 69px;
    position: absolute;
    display: flex;
    color: #11a1a2;
    font-size: 14px;
    font-family: Outfit;
    line-height: 22px;
    letter-spacing: 0%;
    text-decoration: none;
    font-weight: 400;
    text-align: left;
    text-wrap: nowrap;
    width: 57px;
    height: 22px;
  }
  
  .frame_1-2371 {
    top: 2px;
    left: 197px;
    position: absolute;
    display: flex;
    box-sizing: border-box;
    border-radius: 4px;
    background: #11a1a2;
    width: 195px;
    height: 36px;
  }
  .text-guardar-cambios_1-2372 {
    top: 7px;
    left: 41px;
    position: absolute;
    display: flex;
    color: #ffffff;
    font-size: 14px;
    font-family: Outfit;
    line-height: 22px;
    letter-spacing: 0%;
    text-decoration: none;
    font-weight: 400;
    text-align: left;
    text-wrap: nowrap;
    width: 112px;
    height: 22px;
  }
  
  .button-34_1-2373 {
    top: 931px;
    left: 65px;
    position: absolute;
    display: flex;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 4px;
    background: #11a1a2;
    width: 202px;
    height: 36px;
  }
  .text-cerrar-sesi-n_1-2374 {
    top: 7px;
    left: 58px;
    position: absolute;
    display: flex;
    color: #ffffff;
    font-size: 14px;
    font-family: Outfit;
    line-height: 22px;
    letter-spacing: 0%;
    text-decoration: none;
    font-weight: 400;
    text-align: left;
    text-wrap: nowrap;
    width: 85px;
    height: 22px;
  }
  
  .text-cambiar-foto-de-perfil_1-2375 {
    top: 535px;
    left: 63px;
    position: absolute;
    display: flex;
    color: #171a1f;
    font-size: 20px;
    font-family: Outfit;
    line-height: 30px;
    letter-spacing: 0%;
    text-decoration: none;
    font-weight: 400;
    text-align: left;
    text-wrap: nowrap;
    width: 197px;
    height: 30px;
  }
  
  .button-35_1-2376 {
    top: 532px;
    left: 984px;
    position: absolute;
    display: flex;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 4px;
    background: #11a1a2;
    width: 431px;
    height: 36px;
  }
  .text-seleccionar-archivo_1-2377 {
    top: 7px;
    left: 154px;
    position: absolute;
    display: flex;
    color: #ffffff;
    font-size: 14px;
    font-family: Outfit;
    line-height: 22px;
    letter-spacing: 0%;
    text-decoration: none;
    font-weight: 400;
    text-align: left;
    text-wrap: nowrap;
    width: 123px;
    height: 22px;
  }
  
  .text-recibir-notificaciones_1-2378 {
    top: 660px;
    left: 59px;
    position: absolute;
    display: flex;
    color: #171a1f;
    font-size: 20px;
    font-family: Outfit;
    line-height: 30px;
    letter-spacing: 0%;
    text-decoration: none;
    font-weight: 400;
    text-align: left;
    text-wrap: nowrap;
    width: 192px;
    height: 30px;
  }
  
  .radio-1_1-2379 {
    top: 649px;
    left: 1181px;
    position: absolute;
    display: flex;
    box-sizing: border-box;
    background: #00000000;
    width: 40px;
    height: 52px;
  }
  .frame_1-2384 {
    top: 30px;
    left: 0px;
    position: absolute;
    display: flex;
    box-sizing: border-box;
    background: #00000000;
    width: 40px;
    height: 22px;
  }
  .ellipse_1-2385 {
    top: 3px;
    left: 0px;
    position: absolute;
    display: flex;
    display: flex;
  }
  
  .text-no_1-2386 {
    top: 0px;
    left: 22px;
    position: absolute;
    display: flex;
    color: #171a1f;
    font-size: 14px;
    font-family: Outfit;
    line-height: 22px;
    letter-spacing: 0%;
    text-decoration: none;
    font-weight: 400;
    text-align: left;
    text-wrap: nowrap;
    width: 18px;
    height: 22px;
  }
  
  .frame_1-2380 {
    top: 0px;
    left: 0px;
    position: absolute;
    display: flex;
    box-sizing: border-box;
    background: #00000000;
    width: 40px;
    height: 22px;
  }
  .ellipse_1-2381 {
    top: 3px;
    left: 0px;
    position: absolute;
    display: flex;
    display: flex;
  }
  
  .text-si_1-2383 {
    top: 0px;
    left: 22px;
    position: absolute;
    display: flex;
    color: #171a1f;
    font-size: 14px;
    font-family: Outfit;
    line-height: 22px;
    letter-spacing: 0%;
    text-decoration: none;
    font-weight: 400;
    text-align: left;
    text-wrap: nowrap;
    width: 11px;
    height: 22px;
  }
  
  .ellipse_1-2382 {
    top: 7px;
    left: 4px;
    position: absolute;
    display: flex;
    display: flex;
  }
  
  .text-recuperar-los-datos--ultimo-12-03-2024--11-10-am_1-2387 {
    top: 784px;
    left: 63px;
    position: absolute;
    display: flex;
    color: #171a1f;
    font-size: 20px;
    font-family: Outfit;
    line-height: 30px;
    letter-spacing: 0%;
    text-decoration: none;
    font-weight: 400;
    text-align: left;
    text-wrap: nowrap;
    width: 432px;
    height: 30px;
  }
  
  .button-35_1-2388 {
    top: 781px;
    left: 984px;
    position: absolute;
    display: flex;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 4px;
    background: #11a1a2;
    width: 431px;
    height: 36px;
  }
  .text-recuperar-estad-sticas_1-2389 {
    top: 7px;
    left: 144px;
    position: absolute;
    display: flex;
    color: #ffffff;
    font-size: 14px;
    font-family: Outfit;
    line-height: 22px;
    letter-spacing: 0%;
    text-decoration: none;
    font-weight: 400;
    text-align: left;
    text-wrap: nowrap;
    width: 142px;
    height: 22px;
  }
  