.reportes_1-2225 {
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
    background: #fafafb;
    width: 1466px;
    height: 1026px;
    box-shadow: 0px 3px 6px 0px #120f281e;
  }
  .rectangle-12_1-2226 {
    top: 170px;
    left: 62px;
    position: absolute;
    display: flex;
    display: flex;
  }
  
  .container-29_1-2227 {
    top: 0px;
    left: 0px;
    position: absolute;
    display: flex;
    box-sizing: border-box;
    overflow: hidden;
    background: #0d0953;
    width: 1466px;
    height: 56px;
    box-shadow:
      0px 0px 1px 0px #171a1f11,
      0px 0px 2px 0px #171a1f1e;
  }
  .chevron-down-large-1_1-2228 {
    top: 22px;
    left: 1422px;
    position: absolute;
    display: flex;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
  }
  .vector_1-2229 {
    top: 4px;
    left: 2px;
    position: absolute;
    display: flex;
    display: flex;
  }
  
  .avatar-15_1-2230 {
    top: 10px;
    left: 1378px;
    position: absolute;
    display: flex;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
  }
  
  .header-menu-2_1-2232 {
    top: 2px;
    left: 203px;
    position: absolute;
    display: flex;
    box-sizing: border-box;
    background: #00000000;
    width: 602px;
    height: 52px;
  }
  .frame_1-2235 {
    top: 0px;
    left: 59px;
    position: absolute;
    display: flex;
    box-sizing: border-box;
    overflow: hidden;
    background: #00000000;
    width: 81px;
    height: 52px;
  }
  .text-reservas_1-2236 {
    top: 15px;
    left: 12px;
    position: absolute;
    display: flex;
    color: #565e6c;
    font-size: 14px;
    font-family: Outfit;
    line-height: 22px;
    letter-spacing: 0%;
    text-decoration: none;
    font-weight: 400;
    text-align: left;
    text-wrap: nowrap;
    width: 56px;
    height: 22px;
  }
  
  .frame_1-2239 {
    top: 0px;
    left: 234px;
    position: absolute;
    display: flex;
    box-sizing: border-box;
    overflow: hidden;
    background: #00000000;
    width: 88px;
    height: 52px;
  }
  .text-inventario_1-2240 {
    top: 15px;
    left: 12px;
    position: absolute;
    display: flex;
    color: #565e6c;
    font-size: 14px;
    font-family: Outfit;
    line-height: 22px;
    letter-spacing: 0%;
    text-decoration: none;
    font-weight: 400;
    text-align: left;
    text-wrap: nowrap;
    width: 64px;
    height: 22px;
  }
  
  .frame_1-2243 {
    top: 0px;
    left: 408px;
    position: absolute;
    display: flex;
    box-sizing: border-box;
    overflow: hidden;
    background: #00000000;
    width: 81px;
    height: 52px;
  }
  .text-reportes_1-2244 {
    top: 15px;
    left: 12px;
    position: absolute;
    display: flex;
    color: #2c91a8;
    font-size: 14px;
    font-family: Outfit;
    line-height: 22px;
    letter-spacing: 0%;
    text-decoration: none;
    font-weight: 400;
    text-align: left;
    text-wrap: nowrap;
    width: 57px;
    height: 22px;
  }
  
  .frame_1-2237 {
    top: 0px;
    left: 140px;
    position: absolute;
    display: flex;
    box-sizing: border-box;
    overflow: hidden;
    background: #00000000;
    width: 94px;
    height: 52px;
  }
  .text-calendario_1-2238 {
    top: 15px;
    left: 12px;
    position: absolute;
    display: flex;
    color: #565e6c;
    font-size: 14px;
    font-family: Outfit;
    line-height: 22px;
    letter-spacing: 0%;
    text-decoration: none;
    font-weight: 400;
    text-align: left;
    text-wrap: nowrap;
    width: 69px;
    height: 22px;
  }
  
  .frame_1-2233 {
    top: 0px;
    left: 0px;
    position: absolute;
    display: flex;
    box-sizing: border-box;
    overflow: hidden;
    background: #00000000;
    width: 59px;
    height: 52px;
  }
  .text-inicio_1-2234 {
    top: 15px;
    left: 12px;
    position: absolute;
    display: flex;
    color: #565e6c;
    font-size: 14px;
    font-family: Outfit;
    line-height: 22px;
    letter-spacing: 0%;
    text-decoration: none;
    font-weight: 700;
    text-align: left;
    text-wrap: nowrap;
    width: 35px;
    height: 22px;
  }
  
  .frame_1-2241 {
    top: 0px;
    left: 322px;
    position: absolute;
    display: flex;
    box-sizing: border-box;
    overflow: hidden;
    background: #00000000;
    width: 86px;
    height: 52px;
  }
  .text-huepedes_1-2242 {
    top: 15px;
    left: 12px;
    position: absolute;
    display: flex;
    color: #565e6c;
    font-size: 14px;
    font-family: Outfit;
    line-height: 22px;
    letter-spacing: 0%;
    text-decoration: none;
    font-weight: 400;
    text-align: left;
    text-wrap: nowrap;
    width: 62px;
    height: 22px;
  }
  
  .frame_1-2245 {
    top: 0px;
    left: 489px;
    position: absolute;
    display: flex;
    box-sizing: border-box;
    overflow: hidden;
    background: #00000000;
    width: 113px;
    height: 52px;
  }
  .text-configuraci-n_1-2246 {
    top: 15px;
    left: 12px;
    position: absolute;
    display: flex;
    color: #565e6c;
    font-size: 14px;
    font-family: Outfit;
    line-height: 22px;
    letter-spacing: 0%;
    text-decoration: none;
    font-weight: 400;
    text-align: left;
    text-wrap: nowrap;
    width: 88px;
    height: 22px;
  }
  
  .frame-31_1-6958 {
    top: 16px;
    left: 1294px;
    position: absolute;
    display: flex;
    box-sizing: border-box;
    width: 60px;
    height: 24px;
  }
  .bell-1_1-2247 {
    top: 0px;
    left: 36px;
    position: absolute;
    display: flex;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
  }
  .vector_1-2248 {
    top: 3px;
    left: 3px;
    position: absolute;
    display: flex;
    display: flex;
  }
  
  .vector_1-2249 {
    top: 20px;
    left: 10px;
    position: absolute;
    display: flex;
    display: flex;
  }
  
  .search-1_1-2250 {
    top: 0px;
    left: 0px;
    position: absolute;
    display: flex;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
  }
  .vector_1-2251 {
    top: 17px;
    left: 17px;
    position: absolute;
    display: flex;
    display: flex;
  }
  
  .vector_1-2252 {
    top: 3px;
    left: 3px;
    position: absolute;
    display: flex;
    display: flex;
  }
  
  .vector_1-2253 {
    top: 7px;
    left: 7px;
    position: absolute;
    display: flex;
    display: flex;
  }
  
  .text-staymate_1-2254 {
    top: 17px;
    left: 88px;
    position: absolute;
    display: flex;
    color: #ffffff;
    font-size: 18px;
    font-family: Baloo 2;
    line-height: 28px;
    letter-spacing: 0%;
    text-decoration: none;
    font-weight: 500;
    text-align: left;
    text-wrap: nowrap;
    width: 74px;
    height: 28px;
  }
  
  .image-20_1-2255 {
    top: 6px;
    left: 57px;
    position: absolute;
    display: flex;
    display: flex;
  }
  
  .text-reportes_1-2256 {
    top: 106px;
    left: 63px;
    position: absolute;
    display: flex;
    color: #171a1f;
    font-size: 24px;
    font-family: Outfit;
    line-height: 36px;
    letter-spacing: 0%;
    text-decoration: none;
    font-weight: 700;
    text-align: left;
    text-wrap: nowrap;
    width: 101px;
    height: 36px;
  }
  
  .container-215_1-2257 {
    top: 238px;
    left: 396px;
    position: absolute;
    display: flex;
    box-sizing: border-box;
    border-radius: 6px;
    background: #ebfef5;
    width: 242px;
    height: 140px;
  }
  .text-reservas-actuales_1-2258 {
    top: 24px;
    left: 60px;
    position: absolute;
    display: flex;
    color: #171a1f;
    font-size: 12px;
    font-family: Outfit;
    line-height: 20px;
    letter-spacing: 0%;
    text-decoration: none;
    font-weight: 700;
    text-align: left;
    text-wrap: nowrap;
    width: 100px;
    height: 20px;
  }
  
  .text-7_1-2259 {
    top: 64px;
    left: 16px;
    position: absolute;
    display: flex;
    color: #171a1f;
    font-size: 28px;
    font-family: Outfit;
    line-height: 42px;
    letter-spacing: 0%;
    text-decoration: none;
    font-weight: 700;
    text-align: left;
    text-wrap: nowrap;
    width: 15px;
    height: 42px;
  }
  
  .container-216_1-2260 {
    top: 16px;
    left: 16px;
    position: absolute;
    display: flex;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 6px;
    background: #05c16a;
    width: 36px;
    height: 36px;
  }
  .loading-2-1_1-2261 {
    top: 8px;
    left: 8px;
    position: absolute;
    display: flex;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
  }
  .vector_1-2262 {
    top: 0px;
    left: 11px;
    position: absolute;
    display: flex;
    display: flex;
  }
  
  .vector_1-2263 {
    top: 9px;
    left: 20px;
    position: absolute;
    display: flex;
    display: flex;
  }
  
  .vector_1-2264 {
    top: 4px;
    left: 19px;
    position: absolute;
    display: flex;
    display: flex;
  }
  
  .vector_1-2265 {
    top: 16px;
    left: 19px;
    position: absolute;
    display: flex;
    display: flex;
  }
  
  .vector_1-2266 {
    top: 4px;
    left: 1px;
    position: absolute;
    display: flex;
    display: flex;
  }
  
  .vector_1-2267 {
    top: 16px;
    left: 1px;
    position: absolute;
    display: flex;
    display: flex;
  }
  
  .vector_1-2268 {
    top: 1px;
    left: 16px;
    position: absolute;
    display: flex;
    display: flex;
  }
  
  .vector_1-2269 {
    top: 19px;
    left: 16px;
    position: absolute;
    display: flex;
    display: flex;
  }
  
  .vector_1-2270 {
    top: 1px;
    left: 4px;
    position: absolute;
    display: flex;
    display: flex;
  }
  
  .vector_1-2271 {
    top: 19px;
    left: 4px;
    position: absolute;
    display: flex;
    display: flex;
  }
  
  .vector_1-2272 {
    top: 18px;
    left: 11px;
    position: absolute;
    display: flex;
    display: flex;
  }
  
  .vector_1-2273 {
    top: 9px;
    left: 3px;
    position: absolute;
    display: flex;
    display: flex;
  }
  
  .text-informe_1-2274 {
    top: 426px;
    left: 114px;
    position: absolute;
    display: flex;
    color: #171a1f;
    font-size: 20px;
    font-family: Baloo 2;
    line-height: 30px;
    letter-spacing: 0%;
    text-decoration: none;
    font-weight: 700;
    text-align: left;
    text-wrap: nowrap;
    width: 73px;
    height: 30px;
  }
  
  .container-219_1-2275 {
    top: 238px;
    left: 114px;
    position: absolute;
    display: flex;
    box-sizing: border-box;
    border-radius: 6px;
    background: #f2f1fe;
    width: 242px;
    height: 140px;
  }
  .text-reservas-terminadas_1-2276 {
    top: 24px;
    left: 60px;
    position: absolute;
    display: flex;
    color: #171a1f;
    font-size: 12px;
    font-family: Outfit;
    line-height: 20px;
    letter-spacing: 0%;
    text-decoration: none;
    font-weight: 700;
    text-align: left;
    text-wrap: nowrap;
    width: 117px;
    height: 20px;
  }
  
  .text-18_1-2277 {
    top: 64px;
    left: 16px;
    position: absolute;
    display: flex;
    color: #171a1f;
    font-size: 28px;
    font-family: Outfit;
    line-height: 42px;
    letter-spacing: 0%;
    text-decoration: none;
    font-weight: 700;
    text-align: left;
    text-wrap: nowrap;
    width: 27px;
    height: 42px;
  }
  
  .container-220_1-2278 {
    top: 16px;
    left: 16px;
    position: absolute;
    display: flex;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 6px;
    background: #1b13ba;
    width: 36px;
    height: 36px;
  }
  .check-double-1_1-2279 {
    top: 8px;
    left: 8px;
    position: absolute;
    display: flex;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
  }
  .vector_1-2280 {
    top: 5px;
    left: 3px;
    position: absolute;
    display: flex;
    display: flex;
  }
  
  .vector_1-2281 {
    top: 5px;
    left: 9px;
    position: absolute;
    display: flex;
    display: flex;
  }
  
  .container-221_1-2282 {
    top: 238px;
    left: 678px;
    position: absolute;
    display: flex;
    box-sizing: border-box;
    border-radius: 6px;
    background: #eefcfe;
    width: 242px;
    height: 140px;
  }
  .text-reservas-pendientes_1-2283 {
    top: 24px;
    left: 60px;
    position: absolute;
    display: flex;
    color: #171a1f;
    font-size: 12px;
    font-family: Outfit;
    line-height: 20px;
    letter-spacing: 0%;
    text-decoration: none;
    font-weight: 700;
    text-align: left;
    text-wrap: nowrap;
    width: 114px;
    height: 20px;
  }
  
  .text-2_1-2284 {
    top: 64px;
    left: 16px;
    position: absolute;
    display: flex;
    color: #171a1f;
    font-size: 28px;
    font-family: Outfit;
    line-height: 42px;
    letter-spacing: 0%;
    text-decoration: none;
    font-weight: 700;
    text-align: left;
    text-wrap: nowrap;
    width: 16px;
    height: 42px;
  }
  
  .container-222_1-2285 {
    top: 16px;
    left: 16px;
    position: absolute;
    display: flex;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 6px;
    background: #07bbe4;
    width: 36px;
    height: 36px;
  }
  .clock-26_1-2286 {
    top: 8px;
    left: 8px;
    position: absolute;
    display: flex;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
  }
  .vector_1-2287 {
    top: 2px;
    left: 2px;
    position: absolute;
    display: flex;
    display: flex;
  }
  
  .vector_1-2288 {
    top: 6px;
    left: 10px;
    position: absolute;
    display: flex;
    display: flex;
  }
  
  .container-223_1-2289 {
    top: 238px;
    left: 960px;
    position: absolute;
    display: flex;
    box-sizing: border-box;
    border-radius: 6px;
    background: #fff3f0;
    width: 242px;
    height: 140px;
  }
  .text-total-de-reservas_1-2290 {
    top: 24px;
    left: 60px;
    position: absolute;
    display: flex;
    color: #171a1f;
    font-size: 12px;
    font-family: Outfit;
    line-height: 20px;
    letter-spacing: 0%;
    text-decoration: none;
    font-weight: 700;
    text-align: left;
    text-wrap: nowrap;
    width: 94px;
    height: 20px;
  }
  
  .text-27_1-2291 {
    top: 64px;
    left: 16px;
    position: absolute;
    display: flex;
    color: #171a1f;
    font-size: 28px;
    font-family: Outfit;
    line-height: 42px;
    letter-spacing: 0%;
    text-decoration: none;
    font-weight: 700;
    text-align: left;
    text-wrap: nowrap;
    width: 31px;
    height: 42px;
  }
  
  .container-224_1-2292 {
    top: 16px;
    left: 16px;
    position: absolute;
    display: flex;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 6px;
    background: #fc6544;
    width: 36px;
    height: 36px;
  }
  .bullet-list-67-1_1-2293 {
    top: 8px;
    left: 8px;
    position: absolute;
    display: flex;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
  }
  .vector_1-2294 {
    top: 3px;
    left: 3px;
    position: absolute;
    display: flex;
    display: flex;
  }
  
  .vector_1-2295 {
    top: 9px;
    left: 3px;
    position: absolute;
    display: flex;
    display: flex;
  }
  
  .vector_1-2296 {
    top: 14px;
    left: 3px;
    position: absolute;
    display: flex;
    display: flex;
  }
  
  .vector_1-2297 {
    top: 4px;
    left: 9px;
    position: absolute;
    display: flex;
    display: flex;
  }
  
  .vector_1-2298 {
    top: 10px;
    left: 9px;
    position: absolute;
    display: flex;
    display: flex;
  }
  
  .vector_1-2299 {
    top: 16px;
    left: 9px;
    position: absolute;
    display: flex;
    display: flex;
  }
  
  .dropdown-button-36_1-2300 {
    top: 472px;
    left: 854px;
    position: absolute;
    display: flex;
    box-sizing: border-box;
    border-radius: 6px;
    background: #f3f4f6;
    width: 77px;
    height: 35px;
  }
  .text-2023_1-2301 {
    top: 7px;
    left: 12px;
    position: absolute;
    display: flex;
    color: #171a1f;
    font-size: 14px;
    font-family: Outfit;
    line-height: 22px;
    letter-spacing: 0%;
    text-decoration: none;
    font-weight: 400;
    text-align: left;
    text-wrap: nowrap;
    width: 32px;
    height: 22px;
  }
  
  .arrow-down-large_1-2302 {
    top: 11px;
    left: 52px;
    position: absolute;
    display: flex;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
  }
  .vector_1-2303 {
    top: 4px;
    left: 2px;
    position: absolute;
    display: flex;
    display: flex;
  }
  
  .column-bar-chart-2_1-2304 {
    top: 536px;
    left: 116px;
    position: absolute;
    display: flex;
    box-sizing: border-box;
    background: #00000000;
    width: 818px;
    height: 398px;
  }
  .chart_1-6959 {
    top: 58px;
    left: 0px;
    position: absolute;
    display: flex;
    box-sizing: border-box;
    width: 818px;
    height: 340px;
  }
  .rectangle_1-2312 {
    top: 9px;
    left: 0px;
    position: absolute;
    display: flex;
    display: flex;
  }
  
  .rectangle_1-2313 {
    top: 313px;
    left: 48px;
    position: absolute;
    display: flex;
    display: flex;
  }
  
  .rectangle_1-2314 {
    top: 135px;
    left: 95px;
    position: absolute;
    display: flex;
    display: flex;
  }
  
  .rectangle_1-2315 {
    top: 54px;
    left: 227px;
    position: absolute;
    display: flex;
    display: flex;
  }
  
  .rectangle_1-2316 {
    top: 169px;
    left: 275px;
    position: absolute;
    display: flex;
    display: flex;
  }
  
  .rectangle_1-2317 {
    top: 195px;
    left: 323px;
    position: absolute;
    display: flex;
    display: flex;
  }
  
  .rectangle_1-2318 {
    top: 141px;
    left: 454px;
    position: absolute;
    display: flex;
    display: flex;
  }
  
  .rectangle_1-2319 {
    top: 1px;
    left: 502px;
    position: absolute;
    display: flex;
    display: flex;
  }
  
  .rectangle_1-2320 {
    top: 226px;
    left: 550px;
    position: absolute;
    display: flex;
    display: flex;
  }
  
  .rectangle_1-2321 {
    top: 97px;
    left: 682px;
    position: absolute;
    display: flex;
    display: flex;
  }
  
  .rectangle_1-2322 {
    top: 269px;
    left: 729px;
    position: absolute;
    display: flex;
    display: flex;
  }
  
  .rectangle_1-2323 {
    top: 0px;
    left: 777px;
    position: absolute;
    display: flex;
    display: flex;
  }
  
  .frame_1-2305 {
    top: 0px;
    left: 240px;
    position: absolute;
    display: flex;
    box-sizing: border-box;
    background: #00000000;
    width: 339px;
    height: 22px;
  }
  .frame_1-6960 {
    top: 0px;
    left: 0px;
    position: absolute;
    display: flex;
    box-sizing: border-box;
    width: 106px;
    height: 22px;
  }
  .ellipse_1-2306 {
    top: 3px;
    left: 0px;
    position: absolute;
    display: flex;
    display: flex;
  }
  
  .text-completados_1-2307 {
    top: 0px;
    left: 22px;
    position: absolute;
    display: flex;
    color: #323842;
    font-size: 14px;
    font-family: Outfit;
    line-height: 22px;
    letter-spacing: 0%;
    text-decoration: none;
    font-weight: 400;
    text-align: left;
    text-wrap: nowrap;
    width: 84px;
    height: 22px;
  }
  
  .frame_1-6961 {
    top: 0px;
    left: 126px;
    position: absolute;
    display: flex;
    box-sizing: border-box;
    width: 102px;
    height: 22px;
  }
  .ellipse_1-2308 {
    top: 3px;
    left: 0px;
    position: absolute;
    display: flex;
    display: flex;
  }
  
  .text-actualmente_1-2309 {
    top: 0px;
    left: 148px;
    position: absolute;
    display: flex;
    color: #323842;
    font-size: 14px;
    font-family: Outfit;
    line-height: 22px;
    letter-spacing: 0%;
    text-decoration: none;
    font-weight: 400;
    text-align: left;
    text-wrap: nowrap;
    width: 80px;
    height: 22px;
  }
  
  .frame_1-6962 {
    top: 0px;
    left: 248px;
    position: absolute;
    display: flex;
    box-sizing: border-box;
    width: 91px;
    height: 22px;
  }
  .ellipse_1-2310 {
    top: 3px;
    left: 0px;
    position: absolute;
    display: flex;
    display: flex;
  }
  
  .text-pendientes_1-2311 {
    top: 0px;
    left: 270px;
    position: absolute;
    display: flex;
    color: #323842;
    font-size: 14px;
    font-family: Outfit;
    line-height: 22px;
    letter-spacing: 0%;
    text-decoration: none;
    font-weight: 400;
    text-align: left;
    text-wrap: nowrap;
    width: 69px;
    height: 22px;
  }
  
  .text-abril_1-2324 {
    top: 946px;
    left: 772px;
    position: absolute;
    display: flex;
    color: #9095a0;
    font-size: 14px;
    font-family: Outfit;
    line-height: 22px;
    letter-spacing: 0%;
    text-decoration: none;
    font-weight: 400;
    text-align: center;
    text-wrap: wrap;
    width: 163px;
    height: 22px;
  }
  
  .text-marzo_1-2325 {
    top: 946px;
    left: 553px;
    position: absolute;
    display: flex;
    color: #9095a0;
    font-size: 14px;
    font-family: Outfit;
    line-height: 22px;
    letter-spacing: 0%;
    text-decoration: none;
    font-weight: 400;
    text-align: center;
    text-wrap: wrap;
    width: 163px;
    height: 22px;
  }
  
  .text-febrero_1-2326 {
    top: 946px;
    left: 335px;
    position: absolute;
    display: flex;
    color: #9095a0;
    font-size: 14px;
    font-family: Outfit;
    line-height: 22px;
    letter-spacing: 0%;
    text-decoration: none;
    font-weight: 400;
    text-align: center;
    text-wrap: wrap;
    width: 163px;
    height: 22px;
  }
  
  .text-enero_1-2327 {
    top: 946px;
    left: 116px;
    position: absolute;
    display: flex;
    color: #9095a0;
    font-size: 14px;
    font-family: Outfit;
    line-height: 22px;
    letter-spacing: 0%;
    text-decoration: none;
    font-weight: 400;
    text-align: center;
    text-wrap: wrap;
    width: 163px;
    height: 22px;
  }
  
  .text-resumen-de-la-semana_1-2328 {
    top: 204px;
    left: 115px;
    position: absolute;
    display: flex;
    color: #171a1f;
    font-size: 20px;
    font-family: Outfit;
    line-height: 30px;
    letter-spacing: 0%;
    text-decoration: none;
    font-weight: 700;
    text-align: left;
    text-wrap: nowrap;
    width: 208px;
    height: 30px;
  }
  