<div class="modificar-reserva-1_13-3">
    <div class="container-29_1-1636">
      <div class="chevron-down-large-1_1-1637">
        <svg
          width="12"
          height="12"
          viewBox="0 0 12 12"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M2.30454 3.5L1.5 4.30454L6 8.80453L10.5 4.30454L9.69545 3.5L6 7.19543L2.30454 3.5Z"
            fill="#9095A0"
          />
        </svg>
      </div>
      <div class="avatar-15_1-1639">
        <svg
          width="36"
          height="36"
          viewBox="0 0 36 36"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
        >
          <rect width="36" height="36" fill="#FED0C5" />
          <rect width="36" height="36" fill="url(#pattern0_1_1639)" />
          <defs>
            <pattern
              id="pattern0_1_1639"
              patternContentUnits="objectBoundingBox"
              width="1"
              height="1"
            >
              <use xlink:href="#image0_1_1639" transform="scale(0.002)" />
            </pattern>
            <image
              id="image0_1_1639"
              width="500"
              height="500"
            />
          </defs>
        </svg>
      </div>
      <div class="header-menu-2_1-1641">
        <div class="frame_1-1648">
          <a [routerLink]="['/inventario']" class="text-inventario_1-1649">Inventario</a>
        </div>
        <div class="frame_1-1644">
          <a [routerLink]="['/reservas']" class="text-reservas_1-1645">Reservas</a>
        </div>
        <div class="frame_1-1642">
          <a [routerLink]="['/inicio']" class="text-inicio_1-1643">Inicio</a>
        </div>
        <div class="frame_1-1652">
          <a [routerLink]="['/reportes']" class="text-reportes_1-1653">Reportes</a>
        </div>
        <div class="frame_1-1646">
          <a [routerLink]="['/calendario']" class="text-calendario_1-1647">Calendario</a>
        </div>
        <div class="frame_1-1654">
          <a [routerLink]="['/configuracion']" class="text-configuraci-n_1-1655">Configuración</a>
        </div>
        <div class="frame_1-1650">
          <a [routerLink]="['/huespedes']" class="text-huepedes_1-1651">Huéspedes</a>
        </div>
      </div>
      <div class="frame-31_1-6954">
        <div class="bell-1_1-1656">
          <svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M18 11.1428V8.57141C18 6.98011 17.3678 5.45399 16.2426 4.32877C15.1174 3.20355 13.5913 2.57141 12 2.57141C10.4087 2.57141 8.88256 3.20355 7.75735 4.32877C6.63213 5.45399 5.99999 6.98011 5.99999 8.57141V11.1428C5.99999 13.9714 3.42856 14.6571 3.42856 16.2857C3.42856 17.7428 6.77142 18.8571 12 18.8571C17.2286 18.8571 20.5714 17.7428 20.5714 16.2857C20.5714 14.6571 18 13.9714 18 11.1428Z"
              stroke="#9095A0"
              stroke-width="2.05714"
              stroke-miterlimit="10"
              stroke-linecap="square"
            />
            <path
              d="M12 20.5714C11.1334 20.5714 10.3191 20.5423 9.55286 20.4857C9.71622 21.0068 10.0417 21.4622 10.4818 21.7855C10.922 22.1088 11.4539 22.2831 12 22.2831C12.5461 22.2831 13.078 22.1088 13.5182 21.7855C13.9583 21.4622 14.2838 21.0068 14.4471 20.4857C13.6809 20.5423 12.8666 20.5714 12 20.5714Z"
              fill="#9095A0"
            />
          </svg>
        </div>
        <div class="search-1_1-1659">
          <svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M20.5714 20.5715L17.1429 17.1429"
              stroke="#9095A0"
              stroke-width="2.05714"
              stroke-miterlimit="10"
              stroke-linecap="square"
            />
            <path
              d="M10.2857 17.1429C14.0728 17.1429 17.1428 14.0728 17.1428 10.2857C17.1428 6.49864 14.0728 3.42859 10.2857 3.42859C6.49861 3.42859 3.42856 6.49864 3.42856 10.2857C3.42856 14.0728 6.49861 17.1429 10.2857 17.1429Z"
              stroke="#9095A0"
              stroke-width="2.05714"
              stroke-miterlimit="10"
              stroke-linecap="square"
            />
            <path
              d="M6.85715 10.2857C6.85715 9.37637 7.21837 8.5043 7.86135 7.86132C8.50433 7.21834 9.3764 6.85712 10.2857 6.85712"
              stroke="#9095A0"
              stroke-width="2.05714"
              stroke-miterlimit="10"
            />
          </svg>
        </div>
      </div>
      <a [routerLink]="['/home']" class="text-staymate_1-1663">StayMate</a>
      <div class="image-20_1-1664">
        <svg
          width="31"
          height="43"
          viewBox="0 0 31 43"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
        >
          <rect width="31" height="43" fill="url(#pattern0_1_1664)" />
          <defs>
            <pattern
              id="pattern0_1_1664"
              patternContentUnits="objectBoundingBox"
              width="1"
              height="1"
            >
              <use
                xlink:href="#image0_1_1664"
                transform="matrix(0.00141914 0 0 0.0010231 -0.322581 -0.116279)"
              />
            </pattern>
            <image
              id="image0_1_1664"
              width="1182"
              height="1182"
            />
          </defs>
        </svg>
      </div>
    </div>
    <span class="text-calendario_1-1665">Calendario</span>
    <div class="container-188_1-1666">
      <span class="text-julio--2023_1-1667">Julio, 2023</span>
      <div class="table-21_1-1668">
        <div class="row_1-1669">
          <div class="frame_1-1670">
            <span class="text-01_1-1671">01</span>
          </div>
          <div class="frame_1-1672">
            <span class="text-28_1-1673">28</span>
          </div>
          <div class="frame_1-1674">
            <span class="text-27_1-1675">27</span>
          </div>
          <div class="frame_1-1676">
            <span class="text-30_1-1677">30</span>
          </div>
          <div class="frame_1-1678">
            <span class="text-02_1-1679">02</span>
          </div>
          <div class="frame_1-1680">
            <span class="text-29_1-1681">29</span>
          </div>
          <div class="frame_1-1682">
            <span class="text-26_1-1683">26</span>
          </div>
        </div>
        <div class="row_1-1684">
          <div class="frame_1-1685">
            <span class="text-06_1-1686">06</span>
          </div>
          <div class="frame_1-1687">
            <span class="text-08_1-1688">08</span>
          </div>
          <div class="frame_1-1689">
            <span class="text-05_1-1690">05</span>
          </div>
          <div class="frame_1-1691">
            <span class="text-04_1-1692">04</span>
          </div>
          <div class="frame_1-1693">
            <span class="text-03_1-1694">03</span>
          </div>
          <div class="frame_1-1695">
            <span class="text-07_1-1696">07</span>
          </div>
          <div class="frame_1-1697">
            <span class="text-09_1-1698">09</span>
          </div>
        </div>
        <div class="row_1-1699">
          <div class="frame_1-1700">
            <span class="text-12_1-1701">12</span>
          </div>
          <div class="frame_1-1702">
            <span class="text-11_1-1703">11</span>
          </div>
          <div class="frame_1-1704">
            <span class="text-10_1-1705">10</span>
          </div>
          <div class="frame_1-1706">
            <span class="text-13_1-1707">13</span>
          </div>
          <div class="frame_1-1708">
            <span class="text-16_1-1709">16</span>
          </div>
          <div class="frame_1-1710">
            <span class="text-15_1-1711">15</span>
          </div>
          <div class="frame_1-1712">
            <span class="text-14_1-1713">14</span>
          </div>
        </div>
        <div class="row_1-1714">
          <div class="frame_1-1715">
            <span class="text-19_1-1716">19</span>
          </div>
          <div class="frame_1-1717">
            <span class="text-18_1-1718">18</span>
          </div>
          <div class="frame_1-1719">
            <span class="text-21_1-1720">21</span>
          </div>
          <div class="frame_1-1721">
            <span class="text-17_1-1722">17</span>
          </div>
          <div class="frame_1-1723">
            <span class="text-20_1-1724">20</span>
          </div>
          <div class="frame_1-1725">
            <span class="text-23_1-1726">23</span>
          </div>
          <div class="frame_1-1727">
            <span class="text-22_1-1728">22</span>
          </div>
        </div>
        <div class="row_1-1729">
          <div class="frame_1-1730">
            <span class="text-29_1-1731">29</span>
          </div>
          <div class="frame_1-1732">
            <span class="text-28_1-1733">28</span>
          </div>
          <div class="frame_1-1734">
            <span class="text-30_1-1735">30</span>
          </div>
          <div class="frame_1-1736">
            <span class="text-27_1-1737">27</span>
          </div>
          <div class="frame_1-1738">
            <span class="text-26_1-1739">26</span>
          </div>
          <div class="frame_1-1740">
            <span class="text-24_1-1741">24</span>
          </div>
          <div class="frame_1-1742">
            <span class="text-25_1-1743">25</span>
          </div>
        </div>
        <div class="row_1-1744">
          <div class="frame_1-1745">
            <span class="text-06_1-1746">06</span>
          </div>
          <div class="frame_1-1747">
            <span class="text-05_1-1748">05</span>
          </div>
          <div class="frame_1-1749">
            <span class="text-01_1-1750">01</span>
          </div>
          <div class="frame_1-1751">
            <span class="text-02_1-1752">02</span>
          </div>
          <div class="frame_1-1753">
            <span class="text-03_1-1754">03</span>
          </div>
          <div class="frame_1-1755">
            <span class="text-04_1-1756">04</span>
          </div>
          <div class="frame_1-1757">
            <span class="text-31_1-1758">31</span>
          </div>
        </div>
        <div class="container-195_1-1759">
          <span class="text-rachel-miller_1-1760">Rachel Miller</span>
          <span class="text-11-00-am_1-1761">11:00 AM</span>
        </div>
        <div class="container-196_1-1762">
          <span class="text-emma-johnson_1-1763">Emma Johnson</span>
          <span class="text-02-00-pm_1-1764">02:00 PM</span>
        </div>
        <div class="container-199_1-1765">
          <span class="text-emma-johnson_1-1766">Emma Johnson</span>
          <span class="text-01-00-pm_1-1767">01:00 PM</span>
        </div>
        <div class="container-203_1-1768">
          <span class="text-anthony-taylor_1-1769">Anthony Taylor</span>
          <span class="text-01-00-pm_1-1770">01:00 PM</span>
        </div>
        <div class="container-204_1-1771">
          <span class="text-sarah-lee_1-1772">Sarah Lee</span>
          <span class="text-03-00-pm_1-1773">03:00 PM</span>
        </div>
      </div>
      <div class="button-180_1-1774">
        <span class="text-hoy_1-1775">Hoy</span>
      </div>
      <div class="button-181_1-1776">
        <span class="text-text_1-1779"></span>
        <div class="chevron-right-large_1-1777">
          <svg
            width="12"
            height="12"
            viewBox="0 0 12 12"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M3.5 9.69545L4.30454 10.5L8.80453 6L4.30454 1.5L3.5 2.30454L7.19543 6L3.5 9.69545Z"
              fill="#565E6C"
            />
          </svg>
        </div>
      </div>
      <div class="button-182_1-1780">
        <span class="text-text_1-1783"></span>
        <div class="chevron-left-large_1-1781">
          <svg
            width="12"
            height="12"
            viewBox="0 0 12 12"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M8.30455 2.30454L7.5 1.5L3 6L7.5 10.5L8.30455 9.69545L4.60909 6L8.30455 2.30454Z"
              fill="#565E6C"
            />
          </svg>
        </div>
      </div>
      <div class="button-group-3_1-1784">
        <div class="frame_1-1785">
          <span class="text-dia_1-1786">Dia</span>
        </div>
        <div class="frame_1-1790">
          <span class="text-mes_1-1791">Mes</span>
        </div>
        <div class="frame_1-1787">
          <span class="text-semana_1-1788">Semana</span>
          <div class="rectangle_1-1789">
            <svg
              width="2"
              height="16"
              viewBox="0 0 2 16"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <rect x="0.660004" width="1" height="16" fill="#323842" />
            </svg>
          </div>
        </div>
      </div>
      <span class="text-fri_1-1792">FRI</span>
      <span class="text-tue_1-1793">TUE</span>
      <span class="text-thu_1-1794">THU</span>
      <span class="text-wed_1-1795">WED</span>
      <span class="text-mon_1-1796">MON</span>
      <span class="text-sat_1-1797">SAT</span>
      <span class="text-sun_1-1798">SUN</span>
    </div>
    <div class="overlay-1_1-1799">
      <svg
        width="1466"
        height="1024"
        viewBox="0 0 1466 1024"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <rect width="1534" height="1282" fill="#171A1F" fill-opacity="0.4" />
      </svg>
    </div>
    <div class="container-214_1-1800">
      <div class="e-remove-2_1-1801">
        <svg
          width="20"
          height="20"
          viewBox="0 0 20 20"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M15 5L5 15"
            stroke="#9095A0"
            stroke-width="1.71429"
            stroke-miterlimit="10"
            stroke-linecap="square"
          />
          <path
            d="M15 15L5 5"
            stroke="#9095A0"
            stroke-width="1.71429"
            stroke-miterlimit="10"
            stroke-linecap="square"
          />
        </svg>
      </div>
      <span class="text-modificar-reserva_1-1804">Modificar reserva</span>
      <div>
        <form *ngIf="reserva">
          <!-- Ocupantes -->
          <div class="textbox-42_1-1830">
            <span class="text-ocupantes_1-1830">Ocupantes:</span>
            <div class="textfield_1-1831">
              <select [(ngModel)]="reserva.ocupantes" name="ocupantes">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <!-- Agregar más opciones según sea necesario -->
              </select>
            </div>
          </div>
      
          <!-- Status -->
          <div class="textfield_1-1808">
            <span class="text-status_1-1807">Status:</span>
            <select [(ngModel)]="reserva.tag" name="tag">
              <option value="Pendiente">Pendiente</option>
              <option value="Confirmado">Confirmado</option>
              <option value="Cancelado">Cancelado</option>
              <option value="Check-in">Check-in</option>
              <option value="Check-out">Check-out</option>
              <!-- Agregar más estados según sea necesario -->
            </select>
          </div>
      
          <!-- Categoria -->
          <div class="textarea-1_1-1819">
            <span class="text-categoria_1-1814">Categoria:</span>
            <div class="textfield_1-1815">
              <select [(ngModel)]="reserva.categoria" name="categoria" (ngModelChange)="loadOptions()">
                <option value="Habitacion estandar">Habitación</option>
                <option value="Suite">Suite</option>
                <option value="Instalacion">Instalación</option>
                <!-- Agregar más opciones según sea necesario -->
              </select>
            </div>
          </div>

          <!-- Unidad -->
          <div class="textarea-1_1-1828" *ngIf="reserva.categoria !== 'Instalacion'">
            <span class="text-unidad_1-1820">Unidad:</span>
            <div class="textfield_1-1821">
              <select [(ngModel)]="reserva.nombre_cat" name="unidad">
                <option *ngFor="let option of opcionesUnidad" [value]="option.value">{{ option.label }}</option>
                <!-- Usar ngFor para mostrar las opciones de unidad según la lógica -->
              </select>
            </div>
          </div>

          <div class="textarea-1_1-1828" *ngIf="reserva.categoria === 'Instalacion'">
            <span class="text-unidad_1-1820">Unidad:</span>
            <div class="textfield_1-1821">
              <select [(ngModel)]="reserva.categoria" name="unidad">
                <option *ngFor="let option of opcionesInstalacion" [value]="option.value">{{ option.label }}</option>
                <!-- Usar ngFor para mostrar las opciones de instalación -->
              </select>
            </div>
          </div>
      
          <!-- Fecha Check-In -->
          <div class="textarea-1_1-1822">
            <span class="text-check-in_1-1823">Fecha Check-In:</span>
            <input type="date" [(ngModel)]="reserva.check_in" name="fechaCheckIn">
          </div>
      
          <!-- Fecha Check-Out -->
          <div class="textarea-1_1-1824">
            <span class="text-check-out_1-1825">Fecha Check-Out:</span>
            <input type="date" [(ngModel)]="reserva.check_out" name="fechaCheckOut">
          </div>
      
          <br>
          <!-- Botón de Actualizar -->
          <button type="button" (click)="updateReserva()">Actualizar</button>
          <br>
          <button type="button" (click)="volverMenu()">Cancelar</button>
          <br>
          <button type="button" (click)="eliminarReserva()">Eliminar</button>
          <br>
        </form>
      </div>
      
    </div>
  </div>
  