.inicio_1-981 {
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  background: #fafafb;
  width: 1458px;
  height: 1429px;
  box-shadow: 0px 3px 6px 0px #120f281e;
}
.container-14_1-982 {
  top: 500px;
  left: 480px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  border-radius: 6px;
  background: #ffffff;
  width: 308px;
  height: 290px;
  box-shadow:
    0px 0px 1px 0px #171a1f11,
    0px 0px 2px 0px #171a1f1e;
}
.image-19_1-983 {
  top: 71px;
  left: 34px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
}
.group_1-987 {
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  width: 240px;
  height: 120px;
}
.vector_1-989 {
  display: flex;
}

.vector_1-991 {
  display: flex;
}

.text-habitaciones_1-992 {
  top: 24px;
  left: 20px;
  position: absolute;
  display: flex;
  color: #0f0a62;
  font-size: 18px;
  font-family: Baloo 2;
  line-height: 28px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 600;
  text-align: left;
  text-wrap: nowrap;
  width: 105px;
  height: 28px;
}

.menu-5-1_1-993 {
  top: 28px;
  left: 268px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
}
.vector_1-994 {
  top: 9px;
  left: 9px;
  position: absolute;
  display: flex;
  display: flex;
}

.vector_1-995 {
  top: 9px;
  left: 2px;
  position: absolute;
  display: flex;
  display: flex;
}

.vector_1-996 {
  top: 9px;
  left: 15px;
  position: absolute;
  display: flex;
  display: flex;
}

.text-21-30_1-997 {
  top: 163px;
  left: 133px;
  position: absolute;
  display: flex;
  color: #323842;
  font-size: 18px;
  font-family: Baloo 2;
  line-height: 28px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 700;
  text-align: center;
  text-wrap: nowrap;
  width: 43px;
  height: 28px;
}

.text-total_1-998 {
  top: 141px;
  left: 139px;
  position: absolute;
  display: flex;
  color: #9095a0;
  font-size: 12px;
  font-family: Outfit;
  line-height: 20px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: center;
  text-wrap: nowrap;
  width: 27px;
  height: 20px;
}

.text-72-_1-999 {
  top: 238px;
  left: 83px;
  position: absolute;
  display: flex;
  color: #323842;
  font-size: 18px;
  font-family: Baloo 2;
  line-height: 28px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 700;
  text-align: center;
  text-wrap: nowrap;
  width: 33px;
  height: 28px;
}

.text-28-_1-1000 {
  top: 238px;
  left: 204px;
  position: absolute;
  display: flex;
  color: #323842;
  font-size: 18px;
  font-family: Baloo 2;
  line-height: 28px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 700;
  text-align: center;
  text-wrap: nowrap;
  width: 34px;
  height: 28px;
}

.text-ocupado_1-1001 {
  top: 218px;
  left: 79px;
  position: absolute;
  display: flex;
  color: #9095a0;
  font-size: 12px;
  font-family: Outfit;
  line-height: 20px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  text-wrap: nowrap;
  width: 50px;
  height: 20px;
}

.oval-1_1-1002 {
  top: 222px;
  left: 64px;
  position: absolute;
  display: flex;
  display: flex;
}

.text-disponible_1-1003 {
  top: 218px;
  left: 200px;
  position: absolute;
  display: flex;
  color: #9095a0;
  font-size: 12px;
  font-family: Outfit;
  line-height: 20px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  text-wrap: nowrap;
  width: 56px;
  height: 20px;
}

.oval-2_1-1004 {
  top: 222px;
  left: 185px;
  position: absolute;
  display: flex;
  display: flex;
}

.container-15_1-1005 {
  top: 170px;
  left: 48px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  border-radius: 6px;
  background: #ffffff;
  width: 1054px;
  height: 290px;
  box-shadow:
    0px 0px 1px 0px #171a1f11,
    0px 0px 2px 0px #171a1f1e;
}
.table-1_1-1006 {
  top: 120px;
  left: 26px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  border-color: #dee1e6;
  border-style: solid;
  border-width: 1px;
  background: #00000000;
  width: 1008px;
  height: 108px;
}
.row_1-1007 {
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  background: #00000000;
  width: 1008px;
  height: 108px;
}
.frame_1-1008 {
  top: 0px;
  left: 720px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  border-color: #dee1e6;
  border-style: solid;
  border-width: 1px;
  background: #ffffff;
  width: 144px;
  height: 108px;
}
.text-01_1-1009 {
  top: 6px;
  left: 16px;
  position: absolute;
  display: flex;
  color: #171a1f;
  font-size: 12px;
  font-family: Outfit;
  line-height: 20px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: center;
  text-wrap: wrap;
  width: 112px;
  height: 20px;
}

.frame_1-1010 {
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  border-color: #dee1e6;
  border-style: solid;
  border-width: 1px;
  background: #ffffff;
  width: 144px;
  height: 108px;
}
.text-26_1-1011 {
  top: 6px;
  left: 16px;
  position: absolute;
  display: flex;
  color: #9095a0;
  font-size: 12px;
  font-family: Outfit;
  line-height: 20px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: center;
  text-wrap: wrap;
  width: 112px;
  height: 20px;
}

.frame_1-1012 {
  top: 0px;
  left: 144px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  border-color: #dee1e6;
  border-style: solid;
  border-width: 1px;
  background: #ffffff;
  width: 144px;
  height: 108px;
}
.text-27_1-1013 {
  top: 6px;
  left: 16px;
  position: absolute;
  display: flex;
  color: #9095a0;
  font-size: 12px;
  font-family: Outfit;
  line-height: 20px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: center;
  text-wrap: wrap;
  width: 112px;
  height: 20px;
}

.frame_1-1014 {
  top: 0px;
  left: 864px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  border-color: #dee1e6;
  border-style: solid;
  border-width: 1px;
  background: #ffffff;
  width: 144px;
  height: 108px;
}
.text-02_1-1015 {
  top: 6px;
  left: 16px;
  position: absolute;
  display: flex;
  color: #171a1f;
  font-size: 12px;
  font-family: Outfit;
  line-height: 20px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: center;
  text-wrap: wrap;
  width: 112px;
  height: 20px;
}

.frame_1-1016 {
  top: 0px;
  left: 288px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  border-color: #dee1e6;
  border-style: solid;
  border-width: 1px;
  background: #ffffff;
  width: 144px;
  height: 108px;
}
.text-28_1-1017 {
  top: 6px;
  left: 16px;
  position: absolute;
  display: flex;
  color: #9095a0;
  font-size: 12px;
  font-family: Outfit;
  line-height: 20px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: center;
  text-wrap: wrap;
  width: 112px;
  height: 20px;
}

.frame_1-1018 {
  top: 0px;
  left: 432px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  border-color: #dee1e6;
  border-style: solid;
  border-width: 1px;
  background: #ffffff;
  width: 144px;
  height: 108px;
}
.text-29_1-1019 {
  top: 6px;
  left: 16px;
  position: absolute;
  display: flex;
  color: #9095a0;
  font-size: 12px;
  font-family: Outfit;
  line-height: 20px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: center;
  text-wrap: wrap;
  width: 112px;
  height: 20px;
}

.frame_1-1020 {
  top: 0px;
  left: 576px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  border-color: #dee1e6;
  border-style: solid;
  border-width: 1px;
  background: #ffffff;
  width: 144px;
  height: 108px;
}
.text-30_1-1021 {
  top: 6px;
  left: 16px;
  position: absolute;
  display: flex;
  color: #171a1f;
  font-size: 12px;
  font-family: Outfit;
  line-height: 20px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: center;
  text-wrap: wrap;
  width: 112px;
  height: 20px;
}

.rectangle-1_1-1023 {
  top: 68px;
  left: 0px;
  position: absolute;
  display: flex;
  display: flex;
}

.rectangle-1_1-1022 {
  top: 39px;
  left: 42px;
  position: absolute;
  display: flex;
  display: flex;
}

.rectangle-1_1-1024 {
  top: 74px;
  left: 224px;
  position: absolute;
  display: flex;
  display: flex;
}

.rectangle-1_1-1025 {
  top: 39px;
  left: 391px;
  position: absolute;
  display: flex;
  display: flex;
}

.frame-12_1-6946 {
  top: 92px;
  left: 78px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  width: 895px;
  height: 22px;
}
.text-fri_1-1026 {
  top: 0px;
  left: 572px;
  position: absolute;
  display: flex;
  color: #171a1f;
  font-size: 14px;
  font-family: Outfit;
  line-height: 22px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: center;
  text-wrap: wrap;
  width: 39px;
  height: 22px;
}

.text-tue_1-1027 {
  top: 0px;
  left: 146px;
  position: absolute;
  display: flex;
  color: #171a1f;
  font-size: 14px;
  font-family: Outfit;
  line-height: 22px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: center;
  text-wrap: wrap;
  width: 45px;
  height: 22px;
}

.text-thu_1-1028 {
  top: 0px;
  left: 428px;
  position: absolute;
  display: flex;
  color: #171a1f;
  font-size: 14px;
  font-family: Outfit;
  line-height: 22px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: center;
  text-wrap: wrap;
  width: 47px;
  height: 22px;
}

.text-wed_1-1029 {
  top: 0px;
  left: 284px;
  position: absolute;
  display: flex;
  color: #171a1f;
  font-size: 14px;
  font-family: Outfit;
  line-height: 22px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: center;
  text-wrap: wrap;
  width: 51px;
  height: 22px;
}

.text-mon_1-1030 {
  top: 0px;
  left: 78px;
  position: absolute;
  display: flex;
  color: #11a1a2;
  font-size: 14px;
  font-family: Outfit;
  line-height: 22px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 700;
  text-align: center;
  text-wrap: wrap;
  width: 52px;
  height: 22px;
}

.text-sat_1-1031 {
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  color: #9095a0;
  font-size: 14px;
  font-family: Outfit;
  line-height: 22px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: center;
  text-wrap: wrap;
  width: 45px;
  height: 22px;
}

.text-sun_1-1032 {
  top: 0px;
  left: 710px;
  position: absolute;
  display: flex;
  color: #9095a0;
  font-size: 14px;
  font-family: Outfit;
  line-height: 22px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: center;
  text-wrap: wrap;
  width: 46px;
  height: 22px;
}

.icon-button-6_1-1033 {
  top: 246px;
  left: 24px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 10px;
  background: #11a1a2;
  width: 20px;
  height: 20px;
}
.megaphone_1-1034 {
  top: 4px;
  left: 4px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
}
.vector_1-1035 {
  top: 7px;
  left: 3px;
  position: absolute;
  display: flex;
  display: flex;
}

.vector_1-1036 {
  top: 2px;
  left: 1px;
  position: absolute;
  display: flex;
  display: flex;
}

.vector_1-1037 {
  top: 4px;
  left: 10px;
  position: absolute;
  display: flex;
  display: flex;
}

.text-confirmado_1-1038 {
  top: 248px;
  left: 52px;
  position: absolute;
  display: flex;
  color: #6e7787;
  font-size: 10px;
  font-family: Outfit;
  line-height: 16px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  text-wrap: nowrap;
  width: 54px;
  height: 16px;
}

.icon-button-7_1-1039 {
  top: 246px;
  left: 120px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 10px;
  background: #82368c;
  width: 20px;
  height: 20px;
}
.calendar_1-1040 {
  top: 4px;
  left: 4px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
}
.vector_1-1041 {
  top: 1px;
  left: 8px;
  position: absolute;
  display: flex;
  display: flex;
}

.vector_1-1042 {
  top: 1px;
  left: 4px;
  position: absolute;
  display: flex;
  display: flex;
}

.vector_1-1043 {
  top: 4px;
  left: 1px;
  position: absolute;
  display: flex;
  display: flex;
}

.vector_1-1044 {
  top: 3px;
  left: 1px;
  position: absolute;
  display: flex;
  display: flex;
}

.text-actual_1-1045 {
  top: 248px;
  left: 148px;
  position: absolute;
  display: flex;
  color: #6e7787;
  font-size: 10px;
  font-family: Outfit;
  line-height: 16px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  text-wrap: nowrap;
  width: 29px;
  height: 16px;
}

.icon-button-8_1-1046 {
  top: 246px;
  left: 189px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 10px;
  background: #2c91a8;
  width: 20px;
  height: 20px;
}
.check_1-1047 {
  top: 4px;
  left: 4px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
}
.vector_1-1048 {
  top: 3px;
  left: 1px;
  position: absolute;
  display: flex;
  display: flex;
}

.text-terminado_1-1049 {
  top: 248px;
  left: 217px;
  position: absolute;
  display: flex;
  color: #6e7787;
  font-size: 10px;
  font-family: Outfit;
  line-height: 16px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  text-wrap: nowrap;
  width: 48px;
  height: 16px;
}

.text-calendario_1-1050 {
  top: 26px;
  left: 52px;
  position: absolute;
  display: flex;
  color: #0f0a62;
  font-size: 18px;
  font-family: Baloo 2;
  line-height: 28px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 600;
  text-align: left;
  text-wrap: nowrap;
  width: 87px;
  height: 28px;
}

.calendar-1_1-1051 {
  top: 30px;
  left: 24px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
}
.vector_1-1052 {
  top: 2px;
  left: 14px;
  position: absolute;
  display: flex;
  display: flex;
}

.vector_1-1053 {
  top: 2px;
  left: 6px;
  position: absolute;
  display: flex;
  display: flex;
}

.vector_1-1054 {
  top: 7px;
  left: 2px;
  position: absolute;
  display: flex;
  display: flex;
}

.vector_1-1055 {
  top: 4px;
  left: 2px;
  position: absolute;
  display: flex;
  display: flex;
}

.button-10_1-1056 {
  top: 24px;
  left: 980px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 4px;
  background: #2c91a8;
  width: 37px;
  height: 32px;
}
.text-hoy_1-1057 {
  top: 6px;
  left: 8px;
  position: absolute;
  display: flex;
  color: #ffffff;
  font-size: 12px;
  font-family: Outfit;
  line-height: 20px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  text-wrap: nowrap;
  width: 22px;
  height: 20px;
}

.button-11_1-1058 {
  top: 24px;
  left: 940px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 4px;
  background: #f3f4f6;
  width: 32px;
  height: 32px;
}
.text-text_1-1061 {
  top: 6px;
  left: 22px;
  position: absolute;
  display: flex;
  color: #565e6c;
  font-size: 12px;
  font-family: Outfit;
  line-height: 20px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  text-wrap: nowrap;
  width: 0px;
  height: 20px;
}

.chevron-right-large_1-1059 {
  top: 10px;
  left: 10px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
}
.vector_1-1060 {
  top: 2px;
  left: 4px;
  position: absolute;
  display: flex;
  display: flex;
}

.button-12_1-1062 {
  top: 24px;
  left: 900px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 4px;
  background: #f3f4f6;
  width: 32px;
  height: 32px;
}
.text-text_1-1065 {
  top: 6px;
  left: 22px;
  position: absolute;
  display: flex;
  color: #565e6c;
  font-size: 12px;
  font-family: Outfit;
  line-height: 20px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  text-wrap: nowrap;
  width: 0px;
  height: 20px;
}

.chevron-left-large_1-1063 {
  top: 10px;
  left: 10px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
}
.vector_1-1064 {
  top: 2px;
  left: 3px;
  position: absolute;
  display: flex;
  display: flex;
}

.container-16_1-1066 {
  top: 883px;
  left: 42px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  border-radius: 6px;
  background: #ffffff;
  width: 1379px;
  height: 495px;
  box-shadow:
    0px 0px 1px 0px #171a1f11,
    0px 0px 2px 0px #171a1f1e;
}
.text-noticias_1-1067 {
  top: 24px;
  left: 52px;
  position: absolute;
  display: flex;
  color: #0f0a62;
  font-size: 18px;
  font-family: Baloo 2;
  line-height: 28px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 600;
  text-align: left;
  text-wrap: nowrap;
  width: 66px;
  height: 28px;
}

.newspaper-clipping-1_1-1068 {
  top: 28px;
  left: 24px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
}
.vector_1-1069 {
  top: 3px;
  left: 2px;
  position: absolute;
  display: flex;
  display: flex;
}

.button-13_1-1070 {
  top: 24px;
  left: 1292px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 3px;
  background: #00000000;
  width: 71px;
  height: 28px;
}
.text-view-all_1-1073 {
  top: 5px;
  left: 8px;
  position: absolute;
  display: flex;
  color: #82368c;
  font-size: 11px;
  font-family: Outfit;
  line-height: 18px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  text-wrap: nowrap;
  width: 39px;
  height: 18px;
}

.chevron-right-large_1-1071 {
  top: 8px;
  left: 51px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
}
.vector_1-1072 {
  top: 2px;
  left: 4px;
  position: absolute;
  display: flex;
  display: flex;
}

.table-2_1-1074 {
  top: 76px;
  left: 29px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  border-color: #ffffff;
  border-style: solid;
  border-width: 1px;
  background: #00000000;
  width: 1327px;
  height: 395px;
}
.row_1-1075 {
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  background: #00000000;
  width: 1327px;
  height: 79px;
}
.frame_1-1076 {
  top: 0px;
  left: 240px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  border-color: #dee1e6;
  border-style: solid;
  border-top-width: 1px;
  border-bottom-width: 1px;
  background: #ffffff;
  width: 1087px;
  height: 79px;
}
.text-today---miguel-restrepo_1-1078 {
  top: 42px;
  left: 16px;
  position: absolute;
  display: flex;
  color: #565e6c;
  font-size: 12px;
  font-family: Outfit;
  line-height: 20px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  text-wrap: wrap;
  width: 1053px;
  height: 20px;
}

.text-conferencia-sobre-la-sostenibilidad_1-1077 {
  top: 18px;
  left: 16px;
  position: absolute;
  display: flex;
  color: #171a1f;
  font-size: 14px;
  font-family: Outfit;
  line-height: 22px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  text-wrap: wrap;
  width: 1053px;
  height: 22px;
}

.frame_1-1079 {
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  border-color: #dee1e6;
  border-style: solid;
  border-top-width: 1px;
  border-bottom-width: 1px;
  background: #ffffff;
  width: 240px;
  height: 79px;
}
.pen_1-1080 {
  top: 28px;
  left: 108px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
}
.vector_1-1081 {
  top: 9px;
  left: 3px;
  position: absolute;
  display: flex;
  display: flex;
}

.vector_1-1082 {
  top: 14px;
  left: 6px;
  position: absolute;
  display: flex;
  display: flex;
}

.vector_1-1083 {
  top: 3px;
  left: 3px;
  position: absolute;
  display: flex;
  display: flex;
}

.row_1-1084 {
  top: 79px;
  left: 0px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  background: #00000000;
  width: 1327px;
  height: 79px;
}
.frame_1-1085 {
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  border-color: #dee1e6;
  border-style: solid;
  border-top-width: 1px;
  border-bottom-width: 1px;
  background: #ffffff;
  width: 240px;
  height: 79px;
}
.pen_1-1086 {
  top: 28px;
  left: 108px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
}
.vector_1-1087 {
  top: 3px;
  left: 3px;
  position: absolute;
  display: flex;
  display: flex;
}

.frame_1-1088 {
  top: 0px;
  left: 240px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  border-color: #dee1e6;
  border-style: solid;
  border-top-width: 1px;
  border-bottom-width: 1px;
  background: #ffffff;
  width: 1087px;
  height: 79px;
}
.text-11-nov---miguel-restrepo_1-1090 {
  top: 42px;
  left: 16px;
  position: absolute;
  display: flex;
  color: #565e6c;
  font-size: 12px;
  font-family: Outfit;
  line-height: 20px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  text-wrap: wrap;
  width: 1053px;
  height: 20px;
}

.text-el-hotel-ofrecer--clases-de-yoga-y-meditaci-n-gratuitas-para-los-empleados-como-parte-de-un-nuevo-programa-de-bienestar-_1-1089 {
  top: 18px;
  left: 16px;
  position: absolute;
  display: flex;
  color: #171a1f;
  font-size: 14px;
  font-family: Outfit;
  line-height: 22px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  text-wrap: wrap;
  width: 1053px;
  height: 22px;
}

.row_1-1091 {
  top: 158px;
  left: 0px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  background: #00000000;
  width: 1327px;
  height: 79px;
}
.frame_1-1092 {
  top: 0px;
  left: 240px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  border-color: #dee1e6;
  border-style: solid;
  border-top-width: 1px;
  border-bottom-width: 1px;
  background: #ffffff;
  width: 1087px;
  height: 79px;
}
.text-11-nov---miguel-restrepo_1-1094 {
  top: 42px;
  left: 16px;
  position: absolute;
  display: flex;
  color: #565e6c;
  font-size: 12px;
  font-family: Outfit;
  line-height: 20px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  text-wrap: wrap;
  width: 1053px;
  height: 20px;
}

.text-el-hotel-celebrar--una-cena-de-gala-para-celebrar-su-20--aniversario-_1-1093 {
  top: 18px;
  left: 16px;
  position: absolute;
  display: flex;
  color: #171a1f;
  font-size: 14px;
  font-family: Outfit;
  line-height: 22px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  text-wrap: wrap;
  width: 1053px;
  height: 22px;
}

.frame_1-1095 {
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  border-color: #dee1e6;
  border-style: solid;
  border-top-width: 1px;
  border-bottom-width: 1px;
  background: #ffffff;
  width: 240px;
  height: 79px;
}
.pen_1-1096 {
  top: 28px;
  left: 108px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
}
.vector_1-1097 {
  top: 14px;
  left: 6px;
  position: absolute;
  display: flex;
  display: flex;
}

.vector_1-1098 {
  top: 3px;
  left: 3px;
  position: absolute;
  display: flex;
  display: flex;
}

.vector_1-1099 {
  top: 8px;
  left: 20px;
  position: absolute;
  display: flex;
  display: flex;
}

.row_1-1100 {
  top: 237px;
  left: 0px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  background: #00000000;
  width: 1327px;
  height: 79px;
}
.frame_1-1101 {
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  border-color: #dee1e6;
  border-style: solid;
  border-top-width: 1px;
  border-bottom-width: 1px;
  background: #ffffff;
  width: 240px;
  height: 79px;
}
.pen_1-1102 {
  top: 28px;
  left: 108px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
}
.vector_1-1103 {
  top: 15px;
  left: 4px;
  position: absolute;
  display: flex;
  display: flex;
}

.vector_1-1104 {
  top: 3px;
  left: 8px;
  position: absolute;
  display: flex;
  display: flex;
}

.frame_1-1105 {
  top: 0px;
  left: 240px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  border-color: #dee1e6;
  border-style: solid;
  border-top-width: 1px;
  border-bottom-width: 1px;
  background: #ffffff;
  width: 1087px;
  height: 79px;
}
.text-10-nov---miguel-restrepo_1-1107 {
  top: 42px;
  left: 16px;
  position: absolute;
  display: flex;
  color: #565e6c;
  font-size: 12px;
  font-family: Outfit;
  line-height: 20px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  text-wrap: wrap;
  width: 1053px;
  height: 20px;
}

.text-anuncios-de-nuevos-empleados-o-cambios-en-la-gerencia_1-1106 {
  top: 18px;
  left: 16px;
  position: absolute;
  display: flex;
  color: #171a1f;
  font-size: 14px;
  font-family: Outfit;
  line-height: 22px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  text-wrap: wrap;
  width: 1053px;
  height: 22px;
}

.row_1-1108 {
  top: 316px;
  left: 0px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  background: #00000000;
  width: 1327px;
  height: 79px;
}
.frame_1-1109 {
  top: 0px;
  left: 240px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  border-color: #dee1e6;
  border-style: solid;
  border-top-width: 1px;
  border-bottom-width: 1px;
  background: #ffffff;
  width: 1087px;
  height: 79px;
}
.text-actualizaciones-sobre-la-seguridad-y-el-bienestar--informaci-n-sobre-nuevos-protocolos-de-seguridad-o-medidas-para-prevenir-el-covid-19-_1-1110 {
  top: 18px;
  left: 16px;
  position: absolute;
  display: flex;
  color: #171a1f;
  font-size: 14px;
  font-family: Outfit;
  line-height: 22px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  text-wrap: wrap;
  width: 1053px;
  height: 22px;
}

.text-09-nov---miguel-restrepo_1-1111 {
  top: 42px;
  left: 16px;
  position: absolute;
  display: flex;
  color: #565e6c;
  font-size: 12px;
  font-family: Outfit;
  line-height: 20px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  text-wrap: wrap;
  width: 1053px;
  height: 20px;
}

.frame_1-1112 {
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  border-color: #dee1e6;
  border-style: solid;
  border-top-width: 1px;
  border-bottom-width: 1px;
  background: #ffffff;
  width: 240px;
  height: 79px;
}
.pen_1-1113 {
  top: 28px;
  left: 108px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
}
.vector_1-1114 {
  top: 3px;
  left: 3px;
  position: absolute;
  display: flex;
  display: flex;
}

.container-21_1-1115 {
  top: 498px;
  left: 59px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  border-radius: 6px;
  background: #ffffff;
  width: 380px;
  height: 341px;
  box-shadow:
    0px 0px 1px 0px #171a1f11,
    0px 0px 2px 0px #171a1f1e;
}
.text-my-team-leaves_1-1116 {
  top: 76px;
  left: 24px;
  position: absolute;
  display: flex;
  color: #0f0a62;
  font-size: 14px;
  font-family: Baloo 2;
  line-height: 22px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 600;
  text-align: left;
  text-wrap: nowrap;
  width: 95px;
  height: 22px;
}

.text-solicitudes_1-1117 {
  top: 24px;
  left: 52px;
  position: absolute;
  display: flex;
  color: #0f0a62;
  font-size: 18px;
  font-family: Baloo 2;
  line-height: 28px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 600;
  text-align: left;
  text-wrap: nowrap;
  width: 89px;
  height: 28px;
}

.hourglass-medium-1_1-1118 {
  top: 28px;
  left: 24px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
}
.vector_1-1119 {
  top: 2px;
  left: 4px;
  position: absolute;
  display: flex;
  display: flex;
}

.tag-1_1-1120 {
  top: 24px;
  left: 171px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  background: #00000000;
  width: 74px;
  height: 28px;
}
.frame_1-1121 {
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 14px;
  background: #fef9ee;
  width: 74px;
  height: 28px;
}
.text-2-requests_1-1122 {
  top: 4px;
  left: 8px;
  position: absolute;
  display: flex;
  color: #98690c;
  font-size: 12px;
  font-family: Outfit;
  line-height: 20px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  text-wrap: nowrap;
  width: 57px;
  height: 20px;
}

.frame-26_1-6947 {
  top: 114px;
  left: 60px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  width: 93px;
  height: 40px;
}
.text-paula-martinez_1-1123 {
  top: 0px;
  left: 60px;
  position: absolute;
  display: flex;
  color: #323842;
  font-size: 14px;
  font-family: Outfit;
  line-height: 22px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  text-wrap: nowrap;
  width: 93px;
  height: 22px;
}

.text-nov-09-_1-1124 {
  top: 22px;
  left: 0px;
  position: absolute;
  display: flex;
  color: #9095a0;
  font-size: 11px;
  font-family: Outfit;
  line-height: 18px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 300;
  text-align: left;
  text-wrap: nowrap;
  width: 36px;
  height: 18px;
}

.avatar-11_1-1125 {
  top: 120px;
  left: 24px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
}

.tag-2_1-1127 {
  top: 122px;
  left: 269px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  background: #00000000;
  width: 66px;
  height: 24px;
}
.frame_1-1128 {
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 12px;
  background: #f3f4f6;
  width: 66px;
  height: 24px;
}
.text-pendiente_1-1129 {
  top: 3px;
  left: 8px;
  position: absolute;
  display: flex;
  color: #323842;
  font-size: 11px;
  font-family: Outfit;
  line-height: 18px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  text-wrap: nowrap;
  width: 49px;
  height: 18px;
}

.frame-27_1-6948 {
  top: 166px;
  left: 60px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  width: 68px;
  height: 40px;
}
.text-luis--lopez_1-1130 {
  top: 0px;
  left: 60px;
  position: absolute;
  display: flex;
  color: #323842;
  font-size: 14px;
  font-family: Outfit;
  line-height: 22px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  text-wrap: nowrap;
  width: 68px;
  height: 22px;
}

.text-nov-15-_1-1131 {
  top: 22px;
  left: 0px;
  position: absolute;
  display: flex;
  color: #9095a0;
  font-size: 11px;
  font-family: Outfit;
  line-height: 18px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 300;
  text-align: left;
  text-wrap: nowrap;
  width: 32px;
  height: 18px;
}

.avatar-12_1-1132 {
  top: 172px;
  left: 24px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
}

.tag-3_1-1134 {
  top: 174px;
  left: 269px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  background: #00000000;
  width: 66px;
  height: 24px;
}
.frame_1-1135 {
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 12px;
  background: #f3f4f6;
  width: 66px;
  height: 24px;
}
.text-pendiente_1-1136 {
  top: 3px;
  left: 8px;
  position: absolute;
  display: flex;
  color: #323842;
  font-size: 11px;
  font-family: Outfit;
  line-height: 18px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  text-wrap: nowrap;
  width: 49px;
  height: 18px;
}

.frame-28_1-6949 {
  top: 218px;
  left: 60px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  width: 101px;
  height: 40px;
}
.text-maria-cardenas_1-1137 {
  top: 0px;
  left: 60px;
  position: absolute;
  display: flex;
  color: #323842;
  font-size: 14px;
  font-family: Outfit;
  line-height: 22px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  text-wrap: nowrap;
  width: 101px;
  height: 22px;
}

.text-nov-15-_1-1138 {
  top: 22px;
  left: 0px;
  position: absolute;
  display: flex;
  color: #9095a0;
  font-size: 11px;
  font-family: Outfit;
  line-height: 18px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 300;
  text-align: left;
  text-wrap: nowrap;
  width: 32px;
  height: 18px;
}

.avatar-13_1-1139 {
  top: 224px;
  left: 24px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
}

.tag-4_1-1141 {
  top: 226px;
  left: 269px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  background: #00000000;
  width: 66px;
  height: 24px;
}
.frame_1-1142 {
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 12px;
  background: #eefdf3;
  width: 66px;
  height: 24px;
}
.text-aprovado_1-1143 {
  top: 3px;
  left: 8px;
  position: absolute;
  display: flex;
  color: #117b34;
  font-size: 11px;
  font-family: Outfit;
  line-height: 18px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  text-wrap: nowrap;
  width: 49px;
  height: 18px;
}

.button-14_1-1144 {
  top: 24px;
  left: 302px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 3px;
  background: #00000000;
  width: 71px;
  height: 28px;
}
.text-view-all_1-1147 {
  top: 5px;
  left: 8px;
  position: absolute;
  display: flex;
  color: #2c91a8;
  font-size: 11px;
  font-family: Outfit;
  line-height: 18px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  text-wrap: nowrap;
  width: 39px;
  height: 18px;
}

.chevron-right-large_1-1145 {
  top: 8px;
  left: 51px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
}
.vector_1-1146 {
  top: 2px;
  left: 4px;
  position: absolute;
  display: flex;
  display: flex;
}

.frame-29_1-6950 {
  top: 270px;
  left: 60px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  width: 95px;
  height: 40px;
}
.text-carlos-sanchez_1-1148 {
  top: 0px;
  left: 60px;
  position: absolute;
  display: flex;
  color: #323842;
  font-size: 14px;
  font-family: Outfit;
  line-height: 22px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  text-wrap: nowrap;
  width: 95px;
  height: 22px;
}

.text-nov-1-_1-1149 {
  top: 22px;
  left: 0px;
  position: absolute;
  display: flex;
  color: #9095a0;
  font-size: 11px;
  font-family: Outfit;
  line-height: 18px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 300;
  text-align: left;
  text-wrap: nowrap;
  width: 26px;
  height: 18px;
}

.avatar-14_1-1150 {
  top: 276px;
  left: 24px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
}

.tag-5_1-1152 {
  top: 276px;
  left: 269px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  background: #00000000;
  width: 71px;
  height: 24px;
}
.frame_1-1153 {
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 12px;
  background: #fdf2f2;
  width: 71px;
  height: 24px;
}
.text-rechazado_1-1154 {
  top: 3px;
  left: 8px;
  position: absolute;
  display: flex;
  color: #de3b40;
  font-size: 11px;
  font-family: Outfit;
  line-height: 18px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  text-wrap: nowrap;
  width: 55px;
  height: 18px;
}

.text-bienvenida---andrea_1-1155 {
  top: 94px;
  left: 55px;
  position: absolute;
  display: flex;
  color: #323842;
  font-size: 24px;
  font-family: Baloo 2;
  line-height: 36px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 600;
  text-align: left;
  text-wrap: nowrap;
  width: 209px;
  height: 36px;
}

.container-29_1-1156 {
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  background: #0d0953;
  width: 1458px;
  height: 56px;
  box-shadow:
    0px 0px 1px 0px #171a1f11,
    0px 0px 2px 0px #171a1f1e;
}
.chevron-down-large-1_1-1157 {
  top: 22px;
  left: 1414px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
}
.vector_1-1158 {
  top: 4px;
  left: 2px;
  position: absolute;
  display: flex;
  display: flex;
}

.avatar-15_1-1159 {
  top: 10px;
  left: 1370px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
}

.header-menu-2_1-1161 {
  top: 2px;
  left: 199px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  background: #00000000;
  width: 602px;
  height: 52px;
}
.frame_1-1164 {
  top: 0px;
  left: 59px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  background: #00000000;
  width: 81px;
  height: 52px;
}
.text-reservas_1-1165 {
  top: 15px;
  left: 12px;
  position: absolute;
  display: flex;
  color: #9095a0;
  font-size: 14px;
  font-family: Outfit;
  line-height: 22px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  text-wrap: nowrap;
  width: 56px;
  height: 22px;
}

.frame_1-1162 {
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  background: #00000000;
  width: 59px;
  height: 52px;
}
.text-inicio_1-1163 {
  top: 15px;
  left: 12px;
  position: absolute;
  display: flex;
  color: #2c91a8;
  font-size: 14px;
  font-family: Outfit;
  line-height: 22px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 700;
  text-align: left;
  text-wrap: nowrap;
  width: 35px;
  height: 22px;
}

.frame_1-1166 {
  top: 0px;
  left: 140px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  background: #00000000;
  width: 94px;
  height: 52px;
}
.text-calendario_1-1167 {
  top: 15px;
  left: 12px;
  position: absolute;
  display: flex;
  color: #9095a0;
  font-size: 14px;
  font-family: Outfit;
  line-height: 22px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  text-wrap: nowrap;
  width: 69px;
  height: 22px;
}

.frame_1-1168 {
  top: 0px;
  left: 234px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  background: #00000000;
  width: 88px;
  height: 52px;
}
.text-inventario_1-1169 {
  top: 15px;
  left: 12px;
  position: absolute;
  display: flex;
  color: #9095a0;
  font-size: 14px;
  font-family: Outfit;
  line-height: 22px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  text-wrap: nowrap;
  width: 64px;
  height: 22px;
}

.frame_1-1170 {
  top: 0px;
  left: 322px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  background: #00000000;
  width: 86px;
  height: 52px;
}
.text-huepedes_1-1171 {
  top: 15px;
  left: 12px;
  position: absolute;
  display: flex;
  color: #9095a0;
  font-size: 14px;
  font-family: Outfit;
  line-height: 22px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  text-wrap: nowrap;
  width: 62px;
  height: 22px;
}

.frame_1-1172 {
  top: 0px;
  left: 408px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  background: #00000000;
  width: 81px;
  height: 52px;
}
.text-reportes_1-1173 {
  top: 15px;
  left: 12px;
  position: absolute;
  display: flex;
  color: #9095a0;
  font-size: 14px;
  font-family: Outfit;
  line-height: 22px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  text-wrap: nowrap;
  width: 57px;
  height: 22px;
}

.frame_1-1174 {
  top: 0px;
  left: 489px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  background: #00000000;
  width: 113px;
  height: 52px;
}
.text-configuraci-n_1-1175 {
  top: 15px;
  left: 12px;
  position: absolute;
  display: flex;
  color: #9095a0;
  font-size: 14px;
  font-family: Outfit;
  line-height: 22px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  text-wrap: nowrap;
  width: 88px;
  height: 22px;
}

.frame-31_1-6951 {
  top: 16px;
  left: 1286px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  width: 60px;
  height: 24px;
}
.bell-1_1-1176 {
  top: 0px;
  left: 36px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
}
.vector_1-1177 {
  top: 3px;
  left: 3px;
  position: absolute;
  display: flex;
  display: flex;
}

.vector_1-1178 {
  top: 20px;
  left: 10px;
  position: absolute;
  display: flex;
  display: flex;
}

.search-1_1-1179 {
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
}
.vector_1-1180 {
  top: 17px;
  left: 17px;
  position: absolute;
  display: flex;
  display: flex;
}

.vector_1-1181 {
  top: 3px;
  left: 3px;
  position: absolute;
  display: flex;
  display: flex;
}

.vector_1-1182 {
  top: 7px;
  left: 7px;
  position: absolute;
  display: flex;
  display: flex;
}

.text-staymate_1-1183 {
  top: 17px;
  left: 88px;
  position: absolute;
  display: flex;
  color: #ffffff;
  font-size: 18px;
  font-family: Baloo 2;
  line-height: 28px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 500;
  text-align: left;
  text-wrap: nowrap;
  width: 74px;
  height: 28px;
}

.image-20_1-1184 {
  top: 6px;
  left: 56px;
  position: absolute;
  display: flex;
  display: flex;
}

.container-14_1-1185 {
  top: 500px;
  left: 835px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  border-radius: 6px;
  background: #ffffff;
  width: 308px;
  height: 290px;
  box-shadow:
    0px 0px 1px 0px #171a1f11,
    0px 0px 2px 0px #171a1f1e;
}
.image-19_1-1186 {
  top: 71px;
  left: 34px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
}
.group_1-1190 {
  top: 0px;
  left: 240px;
  position: absolute;
  display: flex;
  width: 240px;
  height: 120px;
}
.vector_1-1192 {
  display: flex;
}

.vector_1-1194 {
  display: flex;
}

.text-instalaciones_1-1195 {
  top: 24px;
  left: 20px;
  position: absolute;
  display: flex;
  color: #0f0a62;
  font-size: 18px;
  font-family: Baloo 2;
  line-height: 28px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 600;
  text-align: left;
  text-wrap: nowrap;
  width: 107px;
  height: 28px;
}

.menu-5-1_1-1196 {
  top: 28px;
  left: 268px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
}
.vector_1-1197 {
  top: 9px;
  left: 9px;
  position: absolute;
  display: flex;
  display: flex;
}

.vector_1-1198 {
  top: 9px;
  left: 2px;
  position: absolute;
  display: flex;
  display: flex;
}

.vector_1-1199 {
  top: 9px;
  left: 15px;
  position: absolute;
  display: flex;
  display: flex;
}

.text-7-20_1-1200 {
  top: 163px;
  left: 137px;
  position: absolute;
  display: flex;
  color: #323842;
  font-size: 18px;
  font-family: Baloo 2;
  line-height: 28px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 700;
  text-align: center;
  text-wrap: nowrap;
  width: 35px;
  height: 28px;
}

.text-total_1-1201 {
  top: 141px;
  left: 139px;
  position: absolute;
  display: flex;
  color: #9095a0;
  font-size: 12px;
  font-family: Outfit;
  line-height: 20px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: center;
  text-wrap: nowrap;
  width: 27px;
  height: 20px;
}

.text-35-_1-1202 {
  top: 238px;
  left: 82px;
  position: absolute;
  display: flex;
  color: #323842;
  font-size: 18px;
  font-family: Baloo 2;
  line-height: 28px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 700;
  text-align: center;
  text-wrap: nowrap;
  width: 34px;
  height: 28px;
}

.text-65-_1-1203 {
  top: 238px;
  left: 204px;
  position: absolute;
  display: flex;
  color: #323842;
  font-size: 18px;
  font-family: Baloo 2;
  line-height: 28px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 700;
  text-align: center;
  text-wrap: nowrap;
  width: 34px;
  height: 28px;
}

.text-ocupado_1-1204 {
  top: 218px;
  left: 79px;
  position: absolute;
  display: flex;
  color: #9095a0;
  font-size: 12px;
  font-family: Outfit;
  line-height: 20px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  text-wrap: nowrap;
  width: 50px;
  height: 20px;
}

.oval-1_1-1205 {
  top: 222px;
  left: 64px;
  position: absolute;
  display: flex;
  display: flex;
}

.text-disponible_1-1206 {
  top: 218px;
  left: 200px;
  position: absolute;
  display: flex;
  color: #9095a0;
  font-size: 12px;
  font-family: Outfit;
  line-height: 20px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  text-wrap: nowrap;
  width: 56px;
  height: 20px;
}

.oval-2_1-1207 {
  top: 222px;
  left: 185px;
  position: absolute;
  display: flex;
  display: flex;
}
