.log-out_1-2390 {
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  background: #fafafb;
  width: 1466px;
  height: 1026px;
  box-shadow: 0px 3px 6px 0px #120f281e;
}
.container-29_1-2391 {
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  background: #0d0953;
  width: 1466px;
  height: 56px;
  box-shadow:
    0px 0px 1px 0px #171a1f11,
    0px 0px 2px 0px #171a1f1e;
}
.chevron-down-large-1_1-2392 {
  top: 22px;
  left: 1422px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
}
.vector_1-2393 {
  top: 4px;
  left: 2px;
  position: absolute;
  display: flex;
  display: flex;
}

.avatar-15_1-2394 {
  top: 10px;
  left: 1378px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
}

.header-menu-2_1-2396 {
  top: 2px;
  left: 203px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  background: #00000000;
  width: 602px;
  height: 52px;
}
.frame_1-2409 {
  top: 0px;
  left: 489px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  background: #00000000;
  width: 113px;
  height: 52px;
}
.text-configuraci-n_1-2410 {
  top: 15px;
  left: 12px;
  position: absolute;
  display: flex;
  color: #2c91a8;
  font-size: 14px;
  font-family: Outfit;
  line-height: 22px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  text-wrap: nowrap;
  width: 88px;
  height: 22px;
}

.frame_1-2397 {
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  background: #00000000;
  width: 59px;
  height: 52px;
}
.text-inicio_1-2398 {
  top: 15px;
  left: 12px;
  position: absolute;
  display: flex;
  color: #565e6c;
  font-size: 14px;
  font-family: Outfit;
  line-height: 22px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 700;
  text-align: left;
  text-wrap: nowrap;
  width: 35px;
  height: 22px;
}

.frame_1-2401 {
  top: 0px;
  left: 140px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  background: #00000000;
  width: 94px;
  height: 52px;
}
.text-calendario_1-2402 {
  top: 15px;
  left: 12px;
  position: absolute;
  display: flex;
  color: #565e6c;
  font-size: 14px;
  font-family: Outfit;
  line-height: 22px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  text-wrap: nowrap;
  width: 69px;
  height: 22px;
}

.frame_1-2399 {
  top: 0px;
  left: 59px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  background: #00000000;
  width: 81px;
  height: 52px;
}
.text-reservas_1-2400 {
  top: 15px;
  left: 12px;
  position: absolute;
  display: flex;
  color: #565e6c;
  font-size: 14px;
  font-family: Outfit;
  line-height: 22px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  text-wrap: nowrap;
  width: 56px;
  height: 22px;
}

.frame_1-2407 {
  top: 0px;
  left: 408px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  background: #00000000;
  width: 81px;
  height: 52px;
}
.text-reportes_1-2408 {
  top: 15px;
  left: 12px;
  position: absolute;
  display: flex;
  color: #565e6c;
  font-size: 14px;
  font-family: Outfit;
  line-height: 22px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  text-wrap: nowrap;
  width: 57px;
  height: 22px;
}

.frame_1-2405 {
  top: 0px;
  left: 322px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  background: #00000000;
  width: 86px;
  height: 52px;
}
.text-huepedes_1-2406 {
  top: 15px;
  left: 12px;
  position: absolute;
  display: flex;
  color: #565e6c;
  font-size: 14px;
  font-family: Outfit;
  line-height: 22px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  text-wrap: nowrap;
  width: 62px;
  height: 22px;
}

.frame_1-2403 {
  top: 0px;
  left: 234px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  background: #00000000;
  width: 88px;
  height: 52px;
}
.text-inventario_1-2404 {
  top: 15px;
  left: 12px;
  position: absolute;
  display: flex;
  color: #565e6c;
  font-size: 14px;
  font-family: Outfit;
  line-height: 22px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  text-wrap: nowrap;
  width: 64px;
  height: 22px;
}

.frame-31_1-6964 {
  top: 16px;
  left: 1294px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  width: 60px;
  height: 24px;
}
.bell-1_1-2411 {
  top: 0px;
  left: 36px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
}
.vector_1-2412 {
  top: 3px;
  left: 3px;
  position: absolute;
  display: flex;
  display: flex;
}

.vector_1-2413 {
  top: 20px;
  left: 10px;
  position: absolute;
  display: flex;
  display: flex;
}

.search-1_1-2414 {
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
}
.vector_1-2415 {
  top: 17px;
  left: 17px;
  position: absolute;
  display: flex;
  display: flex;
}

.vector_1-2416 {
  top: 3px;
  left: 3px;
  position: absolute;
  display: flex;
  display: flex;
}

.vector_1-2417 {
  top: 7px;
  left: 7px;
  position: absolute;
  display: flex;
  display: flex;
}

.text-staymate_1-2418 {
  top: 17px;
  left: 88px;
  position: absolute;
  display: flex;
  color: #ffffff;
  font-size: 18px;
  font-family: Baloo 2;
  line-height: 28px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 500;
  text-align: left;
  text-wrap: nowrap;
  width: 74px;
  height: 28px;
}

.image-20_1-2419 {
  top: 6px;
  left: 57px;
  position: absolute;
  display: flex;
  display: flex;
}

.frame_1-7020 {
  top: 0px;
  left: 63px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  width: 156px;
  height: 142px;
}
.text-configuraci-n_1-2420 {
  top: 106px;
  left: 0px;
  position: absolute;
  display: flex;
  color: #171a1f;
  font-size: 24px;
  font-family: Outfit;
  line-height: 36px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 700;
  text-align: left;
  text-wrap: nowrap;
  width: 156px;
  height: 36px;
}

.frame_1-7022 {
  top: 0px;
  left: 63px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  width: 172px;
  height: 285px;
}
.text-cambiar-el-nombre_1-2421 {
  top: 255px;
  left: 0px;
  position: absolute;
  display: flex;
  color: #171a1f;
  font-size: 20px;
  font-family: Outfit;
  line-height: 30px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  text-wrap: nowrap;
  width: 172px;
  height: 30px;
}

.frame_1-7024 {
  top: 0px;
  left: 63px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  width: 183px;
  height: 398px;
}
.text-cambiar-contrase-a_1-2422 {
  top: 368px;
  left: 0px;
  position: absolute;
  display: flex;
  color: #171a1f;
  font-size: 20px;
  font-family: Outfit;
  line-height: 30px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  text-wrap: nowrap;
  width: 183px;
  height: 30px;
}

.frame_1-7026 {
  top: 0px;
  left: 984px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  width: 430px;
  height: 290px;
}
.textbox-14_1-2423 {
  top: 255px;
  left: 0px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  border-radius: 4px;
  border-color: #9095a0;
  border-style: solid;
  border-width: 1px;
  background: #ffffff;
  width: 430px;
  height: 35px;
}
.text-nuevo-nombre_1-2424 {
  top: 7px;
  left: 12px;
  position: absolute;
  display: flex;
  color: #171a1f;
  font-size: 14px;
  font-family: Outfit;
  line-height: 22px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  text-wrap: nowrap;
  width: 94px;
  height: 22px;
}

.frame_1-7028 {
  top: 0px;
  left: 984px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  width: 430px;
  height: 403px;
}
.textbox-14_1-2425 {
  top: 368px;
  left: 0px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  border-radius: 4px;
  border-color: #9095a0;
  border-style: solid;
  border-width: 1px;
  background: #ffffff;
  width: 430px;
  height: 35px;
}
.text-nuevo-contrase-a_1-2426 {
  top: 7px;
  left: 12px;
  position: absolute;
  display: flex;
  color: #171a1f;
  font-size: 14px;
  font-family: Outfit;
  line-height: 22px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  text-wrap: nowrap;
  width: 116px;
  height: 22px;
}

.frame_1-7030 {
  top: 0px;
  left: 984px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  width: 430px;
  height: 462px;
}
.textbox-14_1-2427 {
  top: 427px;
  left: 0px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  border-radius: 4px;
  border-color: #9095a0;
  border-style: solid;
  border-width: 1px;
  background: #ffffff;
  width: 430px;
  height: 35px;
}
.text-confirmar-nueva-contrase-a_1-2428 {
  top: 7px;
  left: 12px;
  position: absolute;
  display: flex;
  color: #171a1f;
  font-size: 14px;
  font-family: Outfit;
  line-height: 22px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  text-wrap: nowrap;
  width: 183px;
  height: 22px;
}

.frame_1-7032 {
  top: 0px;
  left: 1004px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  width: 394px;
  height: 967px;
}
.button-group-4_1-2429 {
  top: 927px;
  left: 0px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 5px;
  background: #82368c;
  width: 394px;
  height: 40px;
}
.frame_1-2432 {
  top: 2px;
  left: 197px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  border-radius: 4px;
  background: #11a1a2;
  width: 195px;
  height: 36px;
}
.text-guardar-cambios_1-2433 {
  top: 7px;
  left: 41px;
  position: absolute;
  display: flex;
  color: #ffffff;
  font-size: 14px;
  font-family: Outfit;
  line-height: 22px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  text-wrap: nowrap;
  width: 112px;
  height: 22px;
}

.frame_1-2430 {
  top: 2px;
  left: 2px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  border-radius: 4px;
  background: #ffffff;
  width: 195px;
  height: 36px;
}
.text-cancelar_1-2431 {
  top: 7px;
  left: 69px;
  position: absolute;
  display: flex;
  color: #11a1a2;
  font-size: 14px;
  font-family: Outfit;
  line-height: 22px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  text-wrap: nowrap;
  width: 57px;
  height: 22px;
}

.frame_1-7034 {
  top: 0px;
  left: 65px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  width: 202px;
  height: 967px;
}
.button-34_1-2434 {
  top: 931px;
  left: 0px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 4px;
  background: #11a1a2;
  width: 202px;
  height: 36px;
}
.text-cerrar-sesi-n_1-2435 {
  top: 7px;
  left: 58px;
  position: absolute;
  display: flex;
  color: #ffffff;
  font-size: 14px;
  font-family: Outfit;
  line-height: 22px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  text-wrap: nowrap;
  width: 85px;
  height: 22px;
}

.frame_1-7036 {
  top: 0px;
  left: 63px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  width: 197px;
  height: 565px;
}
.text-cambiar-foto-de-perfil_1-2436 {
  top: 535px;
  left: 0px;
  position: absolute;
  display: flex;
  color: #171a1f;
  font-size: 20px;
  font-family: Outfit;
  line-height: 30px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  text-wrap: nowrap;
  width: 197px;
  height: 30px;
}

.frame_1-7038 {
  top: 0px;
  left: 984px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  width: 431px;
  height: 568px;
}
.button-35_1-2437 {
  top: 532px;
  left: 0px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 4px;
  background: #11a1a2;
  width: 431px;
  height: 36px;
}
.text-seleccionar-archivo_1-2438 {
  top: 7px;
  left: 154px;
  position: absolute;
  display: flex;
  color: #ffffff;
  font-size: 14px;
  font-family: Outfit;
  line-height: 22px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  text-wrap: nowrap;
  width: 123px;
  height: 22px;
}

.frame_1-7040 {
  top: 0px;
  left: 59px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  width: 192px;
  height: 690px;
}
.text-recibir-notificaciones_1-2439 {
  top: 660px;
  left: 0px;
  position: absolute;
  display: flex;
  color: #171a1f;
  font-size: 20px;
  font-family: Outfit;
  line-height: 30px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  text-wrap: nowrap;
  width: 192px;
  height: 30px;
}

.frame_1-7042 {
  top: 0px;
  left: 1181px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  width: 40px;
  height: 701px;
}
.radio-1_1-2440 {
  top: 649px;
  left: 0px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  background: #00000000;
  width: 40px;
  height: 52px;
}
.frame_1-2445 {
  top: 30px;
  left: 0px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  background: #00000000;
  width: 40px;
  height: 22px;
}
.ellipse_1-2446 {
  top: 3px;
  left: 0px;
  position: absolute;
  display: flex;
  display: flex;
}

.text-no_1-2447 {
  top: 0px;
  left: 22px;
  position: absolute;
  display: flex;
  color: #171a1f;
  font-size: 14px;
  font-family: Outfit;
  line-height: 22px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  text-wrap: nowrap;
  width: 18px;
  height: 22px;
}

.frame_1-2441 {
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  background: #00000000;
  width: 40px;
  height: 22px;
}
.ellipse_1-2442 {
  top: 3px;
  left: 0px;
  position: absolute;
  display: flex;
  display: flex;
}

.text-si_1-2444 {
  top: 0px;
  left: 22px;
  position: absolute;
  display: flex;
  color: #171a1f;
  font-size: 14px;
  font-family: Outfit;
  line-height: 22px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  text-wrap: nowrap;
  width: 11px;
  height: 22px;
}

.ellipse_1-2443 {
  top: 7px;
  left: 4px;
  position: absolute;
  display: flex;
  display: flex;
}

.frame_1-7044 {
  top: 0px;
  left: 63px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  width: 432px;
  height: 814px;
}
.text-recuperar-los-datos--ultimo-12-03-2024--11-10-am_1-2448 {
  top: 784px;
  left: 0px;
  position: absolute;
  display: flex;
  color: #171a1f;
  font-size: 20px;
  font-family: Outfit;
  line-height: 30px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  text-wrap: nowrap;
  width: 432px;
  height: 30px;
}

.frame_1-7046 {
  top: 0px;
  left: 984px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  width: 431px;
  height: 817px;
}
.button-35_1-2449 {
  top: 781px;
  left: 0px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 4px;
  background: #11a1a2;
  width: 431px;
  height: 36px;
}
.text-recuperar-estad-sticas_1-2450 {
  top: 7px;
  left: 144px;
  position: absolute;
  display: flex;
  color: #ffffff;
  font-size: 14px;
  font-family: Outfit;
  line-height: 22px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  text-wrap: nowrap;
  width: 142px;
  height: 22px;
}

.frame_1-7048 {
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  width: 1466px;
  height: 1028px;
}
.overlay-1_1-2451 {
  top: 2px;
  left: 0px;
  position: absolute;
  display: flex;
  display: flex;
}

.frame_1-7050 {
  top: 0px;
  left: 277px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  width: 912px;
  height: 677px;
}
.container-214_1-2452 {
  top: 353px;
  left: 0px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  border-radius: 6px;
  background: #ffffff;
  width: 912px;
  height: 324px;
  box-shadow:
    0px 4px 9px 0px #171a1f1c,
    0px 0px 2px 0px #171a1f1e;
}
.e-remove-2_1-2453 {
  top: 24px;
  left: 860px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
}
.vector_1-2454 {
  top: 5px;
  left: 5px;
  position: absolute;
  display: flex;
  display: flex;
}

.vector_1-2455 {
  top: 5px;
  left: 5px;
  position: absolute;
  display: flex;
  display: flex;
}

.text--cerrar-sesi-n_1-2456 {
  top: 24px;
  left: 32px;
  position: absolute;
  display: flex;
  color: #2c91a8;
  font-size: 20px;
  font-family: Outfit;
  line-height: 30px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 700;
  text-align: left;
  text-wrap: nowrap;
  width: 130px;
  height: 30px;
}

.line-56_1-2457 {
  top: 78px;
  left: 32px;
  position: absolute;
  display: flex;
  display: flex;
}

.line-57_1-2458 {
  top: 239px;
  left: 32px;
  position: absolute;
  display: flex;
  display: flex;
}

.button-190_1-2459 {
  top: 262px;
  left: 790px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 8px;
  background: #11a1a2;
  width: 90px;
  height: 36px;
}
.text-confirmar_1-2460 {
  top: 7px;
  left: 12px;
  position: absolute;
  display: flex;
  color: #ffffff;
  font-size: 14px;
  font-family: Outfit;
  line-height: 22px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  text-wrap: nowrap;
  width: 65px;
  height: 22px;
}

.text-ingrese-su-contrase-a-para-salir-de-la-sesi-n_1-2461 {
  top: 144px;
  left: 32px;
  position: absolute;
  display: flex;
  color: #171a1f;
  font-size: 20px;
  font-family: Outfit;
  line-height: 30px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  width: 408px;
  height: 36px;
}

.textbox-15_1-2462 {
  top: 141px;
  left: 640px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  border-radius: 4px;
  border-color: #9095a0;
  border-style: solid;
  border-width: 1px;
  background: #ffffff;
  width: 239px;
  height: 35px;
}
.text-contrase-a_1-2463 {
  top: 3px;
  left: 12px;
  position: absolute;
  display: flex;
  color: #171a1f;
  font-size: 20px;
  font-family: Outfit;
  line-height: 30px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  text-wrap: nowrap;
  width: 105px;
  height: 30px;
}
